
/****** Object:  Trigger [dbo].[LXU_ANM_PRODUTO_VERSAO_MATERIAL]    Script Date: 24/08/2016 17:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







ALTER trigger [dbo].[LXU_ANM_PRODUTO_VERSAO_MATERIAL] 
on [dbo].[PRODUTO_VERSAO_MATERIAL]
  for UPDATE NOT FOR REPLICATION
  as
/* UPDATE trigger on PRODUTO_VERSAO_MATERIAL */
begin
  declare  @numrows int,
           @nullcnt int,
           @validcnt int,
           @delITEM char(4),
           @errno   int,
           @errmsg  varchar(255)

	
	
	---ANM_ULTIMA_ALTERACAO---------------------------------------------------------------------------
	UPDATE B SET ANM_ULTIMA_ALTERACAO = GETDATE()	
		FROM PRODUTO_VERSAO_MATERIAL A
			JOIN PRODUTO_VERSAO_MATERIAL_COR B 
				ON A.PRODUTO = B.PRODUTO 
				AND A.VERSAO_FICHA = B.VERSAO_FICHA
				AND A.MATERIAL = B.MATERIAL
				AND A.ITEM = B.ITEM
		JOIN INSERTED C
			ON A.PRODUTO     = C.PRODUTO
			AND A.MATERIAL = C.MATERIAL
			AND A.ITEM = C.ITEM
		JOIN DELETED D
			ON B.PRODUTO     = D.PRODUTO
			AND B.MATERIAL = D.MATERIAL
			AND B.ITEM = D.ITEM
	WHERE D.C1  <> C.C1  OR D.C2  <> C.C2  OR D.C3  <> C.C3  OR D.C4  <> C.C4  OR D.C5  <> C.C5  OR D.C6  <> C.C6  OR 
		  D.C7  <> C.C7  OR D.C8  <> C.C8  OR D.C9  <> C.C9  OR D.C10 <> C.C10 OR D.C11 <> C.C11 OR D.C12 <> C.C12 OR 
		  D.C13 <> C.C13 OR D.C14 <> C.C14 OR D.C15 <> C.C15 OR D.C16 <> C.C16 OR D.C17 <> C.C17 OR D.C18 <> C.C18 OR 
		  D.C19 <> C.C19 OR D.C20 <> C.C20 OR D.C21 <> C.C21 OR D.C22 <> C.C22 OR D.C23 <> C.C23 OR D.C24 <> C.C24			 
	-----------------------------------------------------------------------------------------------------

	 IF UPDATE(C1) OR UPDATE(C2) OR UPDATE(C3) OR UPDATE(C4) OR UPDATE(C5) OR UPDATE(C6) OR UPDATE(C7) OR UPDATE(C8) OR 
		UPDATE(C9) OR UPDATE(C10) OR UPDATE(C11) OR UPDATE(C12) OR UPDATE(C13) OR UPDATE(C14) OR UPDATE(C15) OR UPDATE(C16) OR 
		UPDATE(C17) OR UPDATE(C18) OR UPDATE(C19) OR UPDATE(C20) OR UPDATE(C21) OR UPDATE(C22) OR UPDATE(C23) OR UPDATE(C24)
		BEGIN 
			INSERT INTO ANM_LOG_CONSUMO_FT
			 
			SELECT A.PRODUTO,A.MATERIAL,A.ITEM,GETDATE() DATA_ALTERACAO,SYSTEM_USER RESPONSAVEL,
             A.SETOR_PRODUCAO,A.FASE_PRODUCAO,A.DESC_USO_MATERIAL,A.CONSUMO_P_TAMANHO,A.MATERIAL_PRINCIPAL,
	         A.C1 AS C1_NOVO, B.C1 AS C1_ANTIGO,
			 A.C2 AS C2_NOVO, B.C2 AS C2_ANTIGO,
			 A.C3 AS C3_NOVO, B.C3 AS C3_ANTIGO,
			 A.C4 AS C4_NOVO, B.C4 AS C4_ANTIGO,
			 A.C5 AS C5_NOVO, B.C5 AS C5_ANTIGO,
			 A.C6 AS C6_NOVO, B.C6 AS C6_ANTIGO,
			 A.C7 AS C7_NOVO, B.C7 AS C7_ANTIGO,
			 A.C8 AS C8_NOVO, B.C8 AS C8_ANTIGO,
			 A.C9 AS C9_NOVO, B.C9 AS C9_ANTIGO,
			 A.C10 AS C10_NOVO, B.C10 AS C10_ANTIGO,
			 A.C11 AS C11_NOVO, B.C11 AS C11_ANTIGO,
			 A.C12 AS C12_NOVO, B.C12 AS C12_ANTIGO,
			 A.C13 AS C13_NOVO, B.C13 AS C13_ANTIGO,
			 A.C14 AS C14_NOVO, B.C14 AS C14_ANTIGO,
			 A.C15 AS C15_NOVO, B.C15 AS C15_ANTIGO,
			 A.C16 AS C16_NOVO, B.C16 AS C16_ANTIGO,
			 A.C17 AS C17_NOVO, B.C17 AS C17_ANTIGO,
			 A.C18 AS C18_NOVO, B.C18 AS C18_ANTIGO,
			 A.C19 AS C19_NOVO, B.C19 AS C19_ANTIGO,
			 A.C20 AS C20_NOVO, B.C20 AS C20_ANTIGO,
			 A.C21 AS C21_NOVO, B.C21 AS C21_ANTIGO,
			 A.C22 AS C22_NOVO, B.C22 AS C22_ANTIGO,
			 A.C23 AS C23_NOVO, B.C23 AS C23_ANTIGO,
			 A.C24 AS C24_NOVO, B.C24 AS C24_ANTIGO,
	         A.PARTE_APLICADO_MATERIAL, 'U'
			FROM Inserted A JOIN deleted B ON A.PRODUTO = B.PRODUTO AND A.MATERIAL = B.MATERIAL AND A.ITEM = B.ITEM
			 WHERE A.C1  <> B.C1  OR A.C2  <> B.C2  OR A.C3  <> B.C3  OR A.C4  <> B.C4  OR A.C5  <> B.C5  OR A.C6  <> B.C6  OR 
			  A.C7  <> B.C7  OR A.C8  <> B.C8  OR A.C9  <> B.C9  OR A.C10 <> B.C10 OR A.C11 <> B.C11 OR A.C12 <> B.C12 OR 
			  A.C13 <> B.C13 OR A.C14 <> B.C14 OR A.C15 <> B.C15 OR A.C16 <> B.C16 OR A.C17 <> B.C17 OR A.C18 <> B.C18 OR 
			  A.C19 <> B.C19 OR A.C20 <> B.C20 OR A.C21 <> B.C21 OR A.C22 <> B.C22 OR A.C23 <> B.C23 OR A.C24 <> B.C24
		END



  return
error:
    raiserror @errno @errmsg
    rollback transaction
end





