
/****** Object:  Trigger [dbo].[LXU_ANM_PROP_PRODUTOS]    Script Date: 25/07/2016 16:35:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[LXU_ANM_PROP_PRODUTOS] ON [dbo].[PROP_PRODUTOS] FOR UPDATE
AS
BEGIN
	DECLARE @numrows int, @nullcnt int, @validcnt int, @errno int, @errmsg varchar(255)
	SELECT @numrows = @@rowcount

	DECLARE @PROP VARCHAR(5)
	SELECT @PROP=PROPRIEDADE FROM PROPRIEDADE WHERE DESC_PROPRIEDADE LIKE '%COLE%CRIA%'
			
	IF  NOT UPDATE(DATA_PARA_TRANSFERENCIA) AND 
	(SELECT COUNT(*) FROM inserted a join PROP_PRODUTOS b on a.PROPRIEDADE=b.PROPRIEDADE and a.PRODUTO=b.PRODUTO and a.ITEM_PROPRIEDADE=b.ITEM_PROPRIEDADE WHERE a.PROPRIEDADE=@PROP and a.VALOR_PROPRIEDADE<>b.VALOR_PROPRIEDADE)>0
	BEGIN 
		SELECT @errno = 30007, @errmsg = 'Impossível atualizar PROP_PRODUTOS "COLEÇÃO DE CRIAÇÃO". Esta propriedade não é atualizada pelo usuário.'
		GOTO error 
	END 

---- #11 - LUCAS MIRANDA - 14/07/2016 - MELHORIA CAD 
if ( select COUNT(*) 
	from inserted a left join deleted b 
	on a.PROPRIEDADE = b.PROPRIEDADE and a.PRODUTO = b.PRODUTO 
	 where a.propriedade = '00367' and a.VALOR_PROPRIEDADE <> b.VALOR_PROPRIEDADE or isnull(a.VALOR_PROPRIEDADE,'')<>'') > 0
    begin
      UPDATE A SET ANM_DATA_STATUS_CAD = convert(varchar(10),getdate(),112)
			   FROM PRODUTOS A 
			   JOIN INSERTED B ON A.PRODUTO = B.PRODUTO AND B.PROPRIEDADE = '00375'
			   LEFT JOIN DELETED C ON A.PRODUTO = B.PRODUTO  AND B.PROPRIEDADE = C.PROPRIEDADE
			   WHERE ISNULL(B.VALOR_PROPRIEDADE,'') = '' OR B.VALOR_PROPRIEDADE <> C.VALOR_PROPRIEDADE OR ISNULL(C.VALOR_PROPRIEDADE,'') = ''
    end

---- #11 - LUCAS MIRANDA - 14/07/2016 - MELHORIA CAD
if ( select COUNT(*) 
	from inserted a left join deleted b 
	on a.PROPRIEDADE = b.PROPRIEDADE and a.PRODUTO = b.PRODUTO 
	 where a.propriedade = '00368' and a.VALOR_PROPRIEDADE <> b.VALOR_PROPRIEDADE or isnull(a.VALOR_PROPRIEDADE,'')<>'') > 0
    begin
      UPDATE A SET ANM_DATA_STATUS_MOST = convert(varchar(10),getdate(),112) 
			   FROM PRODUTOS A 
			   JOIN INSERTED B ON A.PRODUTO = B.PRODUTO AND B.PROPRIEDADE = '00376'
			   LEFT JOIN DELETED C ON A.PRODUTO = B.PRODUTO  AND B.PROPRIEDADE = C.PROPRIEDADE
			   WHERE ISNULL(B.VALOR_PROPRIEDADE,'') = '' OR B.VALOR_PROPRIEDADE <> C.VALOR_PROPRIEDADE OR ISNULL(C.VALOR_PROPRIEDADE,'') = ''
    end	
	RETURN 

	error: 
		raiserror @errno @errmsg 
		rollback transaction 

END