USE [TESTE_SOMA_SP16]
GO
/****** Object:  Trigger [dbo].[LXU_ANM_COMPRAS_PRODUTO]    Script Date: 28/10/2016 10:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER TRIGGER [dbo].[LXU_ANM_COMPRAS_PRODUTO] on [dbo].[COMPRAS_PRODUTO]  
  for UPDATE NOT FOR REPLICATION
  as
/* UPDATE trigger on PRODUCAO_PROG_PROD */   
begin    


---- GRAVAR LOG
   IF UPDATE(QTDE_ORIGINAL)  or UPDATE(CO1)  or UPDATE(CO2) or UPDATE(CO3) or UPDATE(CO4) or UPDATE(CO5) or UPDATE(CO6) or UPDATE(CO7) 
   or UPDATE(CO8) or UPDATE(CO9) or UPDATE(CO10) or UPDATE(CO11) or UPDATE(CO12) or UPDATE(CO13) or UPDATE(CO14) or UPDATE(CO15) or UPDATE(CO16) 
   or UPDATE(CO17) or UPDATE(CO18) or UPDATE(CO19) or UPDATE(CO2) or UPDATE(CO21) or UPDATE(CO22) or UPDATE(CO23) or UPDATE(CO24) or UPDATE(CO25) 
   or UPDATE(CO26) or UPDATE(CO27) or UPDATE(CO28) or UPDATE(CO29) or UPDATE(CO30) or UPDATE(CO31) or UPDATE(CO32) or UPDATE(CO33) or UPDATE(CO34) 
   or UPDATE(CO35) or UPDATE(CO36) or UPDATE(CO37) or UPDATE(CO38) or UPDATE(CO39) or UPDATE(CO40) or UPDATE(CO41) or UPDATE(CO42) or UPDATE(CO43) 
   or UPDATE(CO44) or UPDATE(CO45) or UPDATE(CO46) or UPDATE(CO47) or UPDATE(CO48) 
BEGIN   
       
    INSERT INTO DBO.ANM_LOG_PEDIDO_COMPRAS_PRODUTO  
	(PRODUTO,PEDIDO, ENTREGA,COR_PRODUTO    ,LIMITE_ENTREGA ,REQUISICAO     ,CUSTO1 ,CUSTO2 ,CUSTO3 ,CUSTO4 ,CUSTO_MOEDA1   ,CUSTO_MOEDA2   ,CUSTO_MOEDA3   ,
		CUSTO_MOEDA4   ,QTDE_ORIGINAL  ,QTDE_CANCELADA ,QTDE_ENTREGUE  ,QTDE_ENTREGAR  ,VALOR_ORIGINAL ,VALOR_ENTREGUE ,VALOR_ENTREGAR ,DESCONTO_ITEM  ,IPI    ,PACKS  ,
		CO1    ,CO2    ,CO3    ,CO4    ,CO5    ,CO6    ,CO7    ,CO8    ,CO9    ,CO10   ,CO11   ,CO12   ,CO13   ,CO14   ,CO15   ,CO16   ,CO17   ,CO18   ,CO19   ,CO20   ,
		CO21   ,CO22   ,CO23   ,CO24   ,CO25   ,CO26   ,CO27   ,CO28   ,CO29   ,CO30   ,CO31   ,CO32   ,CO33   ,CO34   ,CO35   ,CO36   ,CO37   ,CO38   ,CO39   ,CO40   ,
		CO41   ,CO42   ,CO43   ,CO44   ,CO45   ,CO46   ,CO47   ,CO48   ,
		CE1    ,CE2    ,CE3    ,CE4    ,CE5    ,CE6    ,CE7    ,CE8    ,CE9    ,CE10   ,CE11   ,CE12   ,CE13   ,CE14   ,CE15   ,CE16   ,CE17   ,CE18   ,CE19   ,CE20   ,
		CE21   ,CE22   ,CE23   ,CE24   ,CE25   ,CE26   ,CE27   ,CE28   ,CE29   ,CE30   ,CE31   ,CE32   ,CE33   ,CE34   ,CE35   ,CE36   ,CE37   ,CE38   ,CE39   ,CE40   ,
		CE41   ,CE42   ,CE43   ,CE44   ,CE45   ,CE46   ,CE47   ,CE48   ,ENTREGUE_MOEDA_PADRAO,CHEGADA_PREVISTA,OBS_ITEM       ,DATA_CONFIRMACAO,DATA_PARA_TRANSFERENCIA,
		QTDE_COMPRA_RATEIO,VALOR_COMPRA_RATEIO,COD_ALOCACAO   ,MULTIPLICADOR_ALOCACAO,RESPONSAVEL    ,DATA_ALTERACAO  )
    SELECT A.PRODUTO,A.PEDIDO ,A.ENTREGA,A.COR_PRODUTO    ,A.LIMITE_ENTREGA ,A.REQUISICAO     ,A.CUSTO1 ,A.CUSTO2 ,A.CUSTO3 ,A.CUSTO4 ,A.CUSTO_MOEDA1   ,A.CUSTO_MOEDA2   ,
	A.CUSTO_MOEDA3   ,A.CUSTO_MOEDA4   ,A.QTDE_ORIGINAL-B.QTDE_ORIGINAL  ,A.QTDE_CANCELADA ,A.QTDE_ENTREGUE-B.QTDE_ENTREGUE  ,A.QTDE_ENTREGAR-B.QTDE_ENTREGUE  ,
	A.VALOR_ORIGINAL ,A.VALOR_ENTREGUE ,A.VALOR_ENTREGAR ,A.DESCONTO_ITEM  ,
	A.IPI    ,A.PACKS  ,
	A.CO1-B.CO1, A.CO2-B.CO2, A.CO3-B.CO3, A.CO4-B.CO4, A.CO5-B.CO5, A.CO6-B.CO6, A.CO7-B.CO7, A.CO8-B.CO8, A.CO9-B.CO9, A.CO10-B.CO10,
	A.CO11-B.CO11, A.CO12-B.CO12, A.CO13-B.CO13, A.CO14-B.CO14, A.CO15-B.CO15, A.CO16-B.CO16, A.CO17-B.CO17, A.CO18-B.CO18, A.CO19-B.CO19, A.CO20-B.CO20,
	A.CO21-B.CO21, A.CO22-B.CO22, A.CO23-B.CO23, A.CO24-B.CO24, A.CO25-B.CO25, A.CO26-B.CO26, A.CO27-B.CO27, A.CO28-B.CO28,A.CO29-B.CO29, A.CO30-B.CO30,
	A.CO31-B.CO31, A.CO32-B.CO32, A.CO33-B.CO33, A.CO34-B.CO34, A.CO35-B.CO35, A.CO36-B.CO36, A.CO37-B.CO37, A.CO38-B.CO38,A.CO39-B.CO39, A.CO40-B.CO40,
	A.CO41-B.CO41, A.CO42-B.CO42, A.CO43-B.CO43, A.CO44-B.CO44, A.CO45-B.CO45, A.CO46-B.CO46, A.CO47-B.CO47, A.CO48-B.CO48,
	A.CE1-B.CE1, A.CE2-B.CE2, A.CE3-B.CE3, A.CE4-B.CE4, A.CE5-B.CE5, A.CE6-B.CE6, A.CE7-B.CE7, A.CE8-B.CE8, A.CE9-B.CE9, A.CE10-B.CE10, 
	A.CE11-B.CE11, A.CE12-B.CE12, A.CE13-B.CE13, A.CE14-B.CE14, A.CE15-B.CE15, A.CE16-B.CE16, A.CE17-B.CE17, A.CE18-B.CE18, A.CE19-B.CE19, A.CE20-B.CE20,
	A.CE21-B.CE21, A.CE22-B.CE22, A.CE23-B.CE23, A.CE24-B.CE24, A.CE25-B.CE25, A.CE26-B.CE26, A.CE27-B.CE27, A.CE28-B.CE28, A.CE29-B.CE29, A.CE30-B.CE30,
	A.CE31-B.CE31, A.CE32-B.CE32, A.CE33-B.CE33, A.CE34-B.CE34, A.CE35-B.CE35, A.CE36-B.CE36, A.CE37-B.CE37, A.CE38-B.CE38, A.CE39-B.CE39, A.CE40-B.CE40,
	A.CE41-B.CE41, A.CE42-B.CE42, A.CE43-B.CE43, A.CE44-B.CE44, A.CE45-B.CE45, A.CE46-B.CE46, A.CE47-B.CE47, A.CE48-B.CE48, 
	A.ENTREGUE_MOEDA_PADRAO,A.CHEGADA_PREVISTA,A.OBS_ITEM       ,A.DATA_CONFIRMACAO,A.DATA_PARA_TRANSFERENCIA,A.QTDE_COMPRA_RATEIO,
	A.VALOR_COMPRA_RATEIO,A.COD_ALOCACAO   ,A.MULTIPLICADOR_ALOCACAO, CONVERT(VARCHAR(240),SYSTEM_USER)	AS RESPONSAVEL,GETDATE() AS DATA_ALTERACAO
    FROM INSERTED A JOIN DELETED B ON A.PEDIDO = A.PEDIDO AND B.PRODUTO = A.PRODUTO AND B.COR_PRODUTO = B.COR_PRODUTO  
	AND A.QTDE_ORIGINAL <> B.QTDE_ORIGINAL 

   END   

--- LOG LIMITE ENTREGA AJUSTADA PA - CHAMADO #360837
--- LUCAS MIRANDA - 28/10/2016
IF (SELECT COUNT(*) FROM INSERTED A JOIN DELETED B ON A.PEDIDO = B.PEDIDO AND A.PRODUTO = B.PRODUTO AND A.COR_PRODUTO = B.COR_PRODUTO
	WHERE (A.LIMITE_ENTREGA <> B.LIMITE_ENTREGA OR A.DATA_CONFIRMACAO <> B.DATA_CONFIRMACAO) ) > 0    
BEGIN   
       
	INSERT INTO DBO.ANM_LOG_ENTREGA_AJUSTADA_PA

	SELECT 'A', A.PEDIDO, A.PRODUTO, A.COR_PRODUTO,
	CONVERT( CHAR(10),A.LIMITE_ENTREGA, 103 ) AS LIMITE_ENTREGA_NOVO,  
	CONVERT( CHAR(10),B.LIMITE_ENTREGA, 103 ) AS LIMITE_ENTREGA_ANTERIOR,
	CONVERT( CHAR(10),A.DATA_CONFIRMACAO, 103 ) AS DATA_CONFIRMACAO_NOVO, 
	CONVERT( CHAR(10),B.DATA_CONFIRMACAO, 103 ) AS DATA_CONFIRMACAO_ANTERIOR,
	GETDATE(), SUSER_SNAME()
	FROM INSERTED A JOIN DELETED B 
	ON  A.PEDIDO = B.PEDIDO 
	AND A.PRODUTO = B.PRODUTO 
	AND A.COR_PRODUTO = B.COR_PRODUTO

END           
  return    

end



