
/****** Object:  StoredProcedure [dbo].[LX_ANM_GERA_OP_ACABAMENTO]    Script Date: 13/07/2016 12:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














ALTER PROCEDURE [dbo].[LX_ANM_GERA_OP_ACABAMENTO]  
	@PEDIDO CHAR(8), @NF_ENTRADA CHAR(15), @NOME_CLIFOR VARCHAR(25), @PRODUTO CHAR(12)
AS  

BEGIN


DECLARE @ERRMSG	VARCHAR(1000),@errno  int

DECLARE
@EXECUTA BIT = 0,
@XCONTA BIT = 0 ,
@XORDEM_CORTE INT,@ORDEM_CORTE CHAR(8) ,
@ORDEM_PRODUCAO CHAR(8) ,
@ROTA_PADRAO VARCHAR(25) = (SELECT VALOR_PROPRIEDADE FROM PROP_COMPRAS WHERE PROPRIEDADE = '00236' AND PEDIDO =@PEDIDO),
@SEQUENCIA VARCHAR(20) = (SELECT SEQUENCIA FROM SEQUENCIAIS WHERE TABELA_COLUNA='PRODUCAO_ORDEM.ORDEM_PRODUCAO')
			
IF EXISTS(SELECT 1 FROM ENTRADAS_PRODUTO (NOLOCK) A JOIN COMPRAS (NOLOCK) B ON A.PEDIDO = B.PEDIDO
          WHERE A.PEDIDO = @PEDIDO AND NF_ENTRADA = @NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR AND PRODUTO = @PRODUTO)
		SET @EXECUTA = 1 -- SÓ EXECUTA SE EXISTIR ENTRADA NO ESTOQUE ---

IF EXISTS( SELECT 1 FROM ANM_PEDIDO_OP_ACABAMENTO (NOLOCK)
	       WHERE PEDIDO = @PEDIDO AND NF_ENTRADA = @NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR AND PRODUTO = @PRODUTO)
		SET @EXECUTA = 0 -- NÃO EXECUTO SE JÁ TIVER OP GERADA ---	


IF NOT EXISTS(SELECT VALOR_PROPRIEDADE FROM PROP_COMPRAS WHERE PROPRIEDADE = '00236' AND PEDIDO =@PEDIDO) -- SÓ EXECUTA SE EXISTIR ROTA NO PEDIDO DE COMPRAS ---
	SET @EXECUTA = 0

IF @EXECUTA = 1

BEGIN
	
-- BUSCA NUMERO DA ORDEM DE CORTE PARA A OP DE CONSERTO --
	  SELECT @XORDEM_CORTE = COUNT(*) FROM PRODUCAO_ORDEM (NOLOCK) WHERE ORDEM_CORTE LIKE '%'+RTRIM(LTRIM(@PEDIDO))+'%' AND TIPO_PROCESSO = 2
	  SET @ORDEM_CORTE = (select dbo.FXANM_ConvertNumLetra(@XORDEM_CORTE)+RIGHT(RTRIM(LTRIM(@PEDIDO)),7) )
		
	  BEGIN TRY 
		  DELETE PRODUCAO_CORTE WHERE ORDEM_CORTE = @ORDEM_CORTE
		  
	  END TRY
	  BEGIN CATCH
		--- FAZ NADA --
	  END CATCH		

	  
			WHILE EXISTS(SELECT * FROM PRODUCAO_ORDEM (NOLOCK) WHERE ORDEM_CORTE = @ORDEM_CORTE)
			BEGIN
				SET @XORDEM_CORTE = @XORDEM_CORTE + 1
				SET @ORDEM_CORTE = (select dbo.FXANM_ConvertNumLetra(@XORDEM_CORTE)+RIGHT(RTRIM(LTRIM(@PEDIDO)),7) )
			END		    				


			WHILE @XCONTA = 0        
	      	BEGIN        
	      		       
	       		IF  (SELECT COUNT(*) FROM PRODUCAO_ORDEM (NOLOCK)  WHERE ORDEM_PRODUCAO = @SEQUENCIA )=0 AND         
	           		(SELECT COUNT(*) FROM COMPRAS_PRODUTO (NOLOCK) WHERE PEDIDO = @SEQUENCIA )=0  AND 
	           		(SELECT COUNT(*) FROM PRODUCAO_CORTE (NOLOCK)  WHERE ORDEM_CORTE = @SEQUENCIA )=0       
	         		BEGIN	
	         			SET @ORDEM_PRODUCAO =  @SEQUENCIA
	         			SELECT @XCONTA = 1        
	      			END
	      		ELSE
	      			BEGIN
	      				-- VERIFICO SE NÃO EXISTE UM NUMERO DE OP JÁ CADASTRADA EM COMPRAS. SE EXISTIR PEGO PRÓXIMO        
	    				EXEC LX_SEQUENCIAL @TABELA_COLUNA='PRODUCAO_ORDEM.ORDEM_PRODUCAO', @EMPRESA=1, @SEQUENCIA = @SEQUENCIA OUTPUT 
	    				SET @SEQUENCIA = (SELECT SEQUENCIA FROM SEQUENCIAIS WHERE TABELA_COLUNA='PRODUCAO_ORDEM.ORDEM_PRODUCAO')
	    				SELECT @XCONTA = 0
	      			END
	      		END	  



INSERT INTO PRODUCAO_CORTE (ORDEM_CORTE,RESPONSAVEL) VALUES(@ORDEM_CORTE,ISNULL((SELECT SYSTEM_USER),''))   


-- INSERE PRODUCAO_ORDEM --	
-- INCLUIDO SUM(TOTAL_ENTRADAS) PARA AGRUPAR POR REFERENCIA E NÃO REFERENCIA + COR, POIS ESTAVA DUPLICANDO QUANDO TINHA MAIS DE UMA COR 
-- #3 -  erro ao gerar acabamento - duplicate key - LUCAS MIRANDA - 19/04/2016
INSERT INTO PRODUCAO_ORDEM
(ORDEM_PRODUCAO,PRODUTO,EMISSAO,TIPO_ORDEM_PRODUCAO,
INICIO_LIBERADO,INICIO_PREVISTO,INICIO_REAL,
QTDE_TOTAL,FILIAL,QTDE_EM_PRODUCAO,STATUS,ORDEM_CORTE,
OBS,TIPO_PROCESSO,TABELA_OPERACOES,FILIAL_PRODUCAO,ANM_ORIGEM_OP,ANM_NUMERO_ORIGEM_OP, PROGRAMACAO
)
SELECT DISTINCT
@ORDEM_PRODUCAO,A.PRODUTO,CONVERT(CHAR(8),GETDATE(),112),C.TIPO_COMPRA,
CONVERT(CHAR(8),GETDATE(),112),CONVERT(CHAR(8),GETDATE(),112),CONVERT(CHAR(8),GETDATE(),112),
TOTAL_ENTRADAS,C.FILIAL_A_ENTREGAR,TOTAL_ENTRADAS ,'S',@ORDEM_CORTE,
CAST(C.OBS AS VARCHAR(MAX)),2,@ROTA_PADRAO,ESTOQUE_FISICA.FILIAL,'A',@PEDIDO, C.PROGRAMACAO
-- #3 -  erro ao gerar acabamento - duplicate key - LUCAS MIRANDA - 19/04/2016
--FROM ENTRADAS_PRODUTO (NOLOCK) A
-- #3 -  erro ao gerar acabamento - duplicate key - LUCAS MIRANDA - 19/04/2016
FROM ( SELECT NOME_CLIFOR, NF_ENTRADA, SERIE_NF_ENTRADA, PRODUTO, PEDIDO, SUM(TOTAL_ENTRADAS) AS TOTAL_ENTRADAS FROM ENTRADAS_PRODUTO (NOLOCK)
       GROUP BY NOME_CLIFOR, NF_ENTRADA, SERIE_NF_ENTRADA, PRODUTO, PEDIDO ) A
	JOIN ENTRADAS (NOLOCK) B ON A.NF_ENTRADA = B.NF_ENTRADA AND A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA AND A.NOME_CLIFOR = B.NOME_CLIFOR
	JOIN COMPRAS (NOLOCK) C ON A.PEDIDO = C.PEDIDO
	-- FEITO MAIS UM JOIN PARA PEGAR A FILIAL QUE ENTROU E NÃO DA NOTA FISCAL
	JOIN (SELECT ESTOQUE_PROD.NF_ENTRADA, ESTOQUE_PROD.SERIE_NF_ENTRADA, ESTOQUE_PROD.NOME_CLIFOR, ESTOQUE_PROD.PEDIDO,ESTOQUE_PROD1.* 
		FROM ESTOQUE_PROD_ENT ESTOQUE_PROD
		JOIN ESTOQUE_PROD1_ENT ESTOQUE_PROD1
		ON ESTOQUE_PROD.ROMANEIO_PRODUTO = ESTOQUE_PROD1.ROMANEIO_PRODUTO
		AND ESTOQUE_PROD.FILIAL = ESTOQUE_PROD1.FILIAL) ESTOQUE_FISICA
	ON A.PEDIDO = ESTOQUE_FISICA.PEDIDO
	AND A.NF_ENTRADA = ESTOQUE_FISICA.NF_ENTRADA
	AND A.SERIE_NF_ENTRADA = ESTOQUE_FISICA.SERIE_NF_ENTRADA
	AND A.NOME_CLIFOR = ESTOQUE_FISICA.NOME_CLIFOR
	AND A.PRODUTO = ESTOQUE_FISICA.PRODUTO
	
WHERE A.PEDIDO = @PEDIDO AND A.NF_ENTRADA = @NF_ENTRADA AND A.NOME_CLIFOR = @NOME_CLIFOR AND A.PRODUTO = @PRODUTO



-- INSERE PRODUCAO_ORDEM_COR --
BEGIN TRY
	INSERT INTO PRODUCAO_ORDEM_COR
	(ORDEM_PRODUCAO,PRODUTO,COR_PRODUTO,QTDE_O,QTDE_P,
	O1,O2,O3,O4,O5,O6,O7,O8,O9,O10,O11,O12,O13,O14,O15,O16,O17,O18,O19,O20,O21,O22,O23,O24,
	O25,O26,O27,O28,O29,O30,O31,O32,O33,O34,O35,O36,O37,O38,O39,O40,O41,O42,O43,O44,O45,O46,O47,O48,
	P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,
	P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,P38,P39,P40,P41,P42,P43,P44,P45,P46,P47,P48
	)
	SELECT 
	@ORDEM_PRODUCAO,PRODUTO,COR_PRODUTO,TOTAL_ENTRADAS,TOTAL_ENTRADAS,
	EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
	EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48,
	EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
	EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48
	FROM ENTRADAS_PRODUTO  (NOLOCK) A JOIN COMPRAS (NOLOCK) C ON A.PEDIDO = C.PEDIDO
	WHERE  A.PEDIDO = @PEDIDO AND A.NF_ENTRADA = @NF_ENTRADA AND A.NOME_CLIFOR = @NOME_CLIFOR AND A.PRODUTO = @PRODUTO
END TRY
BEGIN CATCH
	DELETE FROM PRODUCAO_ORDEM WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO
	SELECT 	@errno=30002,
				@errmsg= ERROR_MESSAGE()
	GOTO ERROR

END CATCH

IF @EXECUTA = 1

BEGIN
-- INSERE PRODUCAO_TAREFAS ---
IF OBJECT_ID('TempDB.dbo.#PRODUCAO_TAREFAS') IS NOT NULL
	Drop Table   #PRODUCAO_TAREFAS	  
	  
SELECT '' SEQ,
SEQUENCIA_PRODUTIVA,SETOR_PARALELO_NUMERO,SEQUENCIA_ANTERIOR,RECURSO_PRODUTIVO,ORDEM_PRODUCAO,FASE_PRODUCAO,
SETOR_PRODUCAO,INICIO_LIBERADO,INICIO_PREVISTO,INICIO_REAL,FIM_PREVISTO,FIM_ATUALIZADO,ENCERRAMENTO,
TEMPO_PREPARACAO,QTDE_PREVISTA,QTDE_A_PRODUZIR,QTDE_EM_PROCESSO,QTDE_FINALIZADA,QTDE_ALTERACAO_OP,QTDE_PERDAS,QTDE_ALT_OUTRAS_TAREFAS,
TEMPO_OPERACAO,CUSTO_TAREFA,STATUS,UNIDADE_TEMPO,TIPO_TEMPO_PROCESSO,METODO_LOTE,METODO_LOTE_QTDE,
OBS,TIPO_TAREFA,CONTROLE,QTDE_SEGUNDA,BAIXA_AUTOMATICA_MATERIAL,PARTE_PRODUTO,TEMPO_CRONOMETRADO,TEMPO_CRONOMETRADO_2,TEMPO_CRONOMETRADO_3,
TEMPO_CRONOMETRADO_4,TEMPO_CRONOM_FIXO,SETOR_DIV_RECURSO,TIPO_CUSTO,CUSTO_MATERIAL_TERCEIRO,QTDE_RETRABALHO,ESTAGIO_OP
INTO #PRODUCAO_TAREFAS FROM PRODUCAO_TAREFAS WHERE 1=2

  
  INSERT INTO #PRODUCAO_TAREFAS
  SELECT ROW_NUMBER() OVER(ORDER BY SEQUENCIA_PRODUTIVA DESC),SEQUENCIA_PRODUTIVA,SETOR_PARALELO_NUMERO,
  SEQUENCIA_ANTERIOR,RECURSO_PRODUTIVO,@ORDEM_PRODUCAO,FASE_PRODUCAO,
  SETOR_PRODUCAO,CONVERT(CHAR(8),GETDATE(),112),CONVERT(CHAR(8),GETDATE(),112),CONVERT(CHAR(8),GETDATE(),112),NULL,NULL,NULL,
  TEMPO_PREPARACAO,0,0,0,0,0,0,0,
  TEMPO_OPERACAO,CUSTO_SUGERIDO,3,UNIDADE_TEMPO,TIPO_TEMPO_PROCESSO,METODO_LOTE,METODO_LOTE_QTDE,
  NULL,NULL,CONTROLE,0,BAIXA_AUTOMATICA_MATERIAL,PARTE_PRODUTO,TEMPO_CRONOMETRADO,TEMPO_CRONOMETRADO_2,TEMPO_CRONOMETRADO_3,
  TEMPO_CRONOMETRADO_4,TEMPO_CRONOM_FIXO,0,TIPO_CUSTO,0,0,NULL
  FROM PRODUTO_OPERACOES_ROTAS (NOLOCK) A
  WHERE TABELA_OPERACOES = @ROTA_PADRAO   
  
  DECLARE @PONTEIRO INT = ( SELECT COUNT(*) FROM #PRODUCAO_TAREFAS ), @TAREFA CHAR(10)
  		  
  SELECT @SEQUENCIA = SEQUENCIA FROM SEQUENCIAIS WHERE TABELA_COLUNA='PRODUCAO_TAREFAS.TAREFA'
  SET @XCONTA = 0
  
  DECLARE @QTDE INT = (SELECT QTDE_TOTAL FROM PRODUCAO_ORDEM WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO)
  
  WHILE @PONTEIRO <> 0
	
	BEGIN
		
		WHILE @XCONTA = 0        
	      	BEGIN 
				IF  (SELECT COUNT(*) FROM PRODUCAO_TAREFAS WHERE TAREFA = @SEQUENCIA )=0        
	         		BEGIN	
	         			SET @TAREFA =  @SEQUENCIA
	         			SELECT @XCONTA = 1        
	      			END
	      		ELSE
	      			BEGIN
	      				-- VERIFICO SE NÃO EXISTE UM NUMERO DE OP JÁ CADASTRADA EM COMPRAS. SE EXISTIR PEGO PRÓXIMO        
	    				EXEC LX_SEQUENCIAL @TABELA_COLUNA='PRODUCAO_TAREFAS.TAREFA', @EMPRESA=1, @SEQUENCIA = @SEQUENCIA  
	    				SET @SEQUENCIA = (SELECT SEQUENCIA FROM SEQUENCIAIS WHERE TABELA_COLUNA='PRODUCAO_TAREFAS.TAREFA')
	    				SELECT @XCONTA = 0
	      			END
			END

		
		INSERT INTO PRODUCAO_TAREFAS
		(TAREFA,SEQUENCIA_PRODUTIVA,SETOR_PARALELO_NUMERO,SEQUENCIA_ANTERIOR,RECURSO_PRODUTIVO,ORDEM_PRODUCAO,FASE_PRODUCAO,
		 SETOR_PRODUCAO,INICIO_LIBERADO,INICIO_PREVISTO,INICIO_REAL,FIM_PREVISTO,FIM_ATUALIZADO,ENCERRAMENTO,
		 TEMPO_PREPARACAO,
		 QTDE_PREVISTA,
		 QTDE_A_PRODUZIR,
		 QTDE_EM_PROCESSO,
		 QTDE_FINALIZADA,QTDE_ALTERACAO_OP,QTDE_PERDAS,QTDE_ALT_OUTRAS_TAREFAS,
		 TEMPO_OPERACAO,CUSTO_TAREFA,STATUS,UNIDADE_TEMPO,TIPO_TEMPO_PROCESSO,METODO_LOTE,METODO_LOTE_QTDE,
		 OBS,TIPO_TAREFA,CONTROLE,QTDE_SEGUNDA,BAIXA_AUTOMATICA_MATERIAL,PARTE_PRODUTO,TEMPO_CRONOMETRADO,TEMPO_CRONOMETRADO_2,TEMPO_CRONOMETRADO_3,
		 TEMPO_CRONOMETRADO_4,TEMPO_CRONOM_FIXO,SETOR_DIV_RECURSO,TIPO_CUSTO,CUSTO_MATERIAL_TERCEIRO,QTDE_RETRABALHO,ESTAGIO_OP)
		
		SELECT @TAREFA,
		SEQUENCIA_PRODUTIVA,SETOR_PARALELO_NUMERO,SEQUENCIA_ANTERIOR,RECURSO_PRODUTIVO,ORDEM_PRODUCAO,FASE_PRODUCAO,
		SETOR_PRODUCAO,INICIO_LIBERADO,INICIO_PREVISTO,INICIO_REAL,FIM_PREVISTO,FIM_ATUALIZADO,ENCERRAMENTO,
		TEMPO_PREPARACAO,
		@QTDE AS QTDE_PREVISTA,
		CASE WHEN SEQUENCIA_ANTERIOR is NULL THEN 0 ELSE @QTDE END QTDE_A_PRODUZIR,
		CASE WHEN SEQUENCIA_ANTERIOR IS NULL THEN @QTDE ELSE 0 END QTDE_EM_PROCESSO,
		QTDE_FINALIZADA,
		QTDE_ALTERACAO_OP,QTDE_PERDAS,QTDE_ALT_OUTRAS_TAREFAS,
		TEMPO_OPERACAO,CUSTO_TAREFA,STATUS,UNIDADE_TEMPO,TIPO_TEMPO_PROCESSO,METODO_LOTE,METODO_LOTE_QTDE,
		OBS,TIPO_TAREFA,CONTROLE,QTDE_SEGUNDA,BAIXA_AUTOMATICA_MATERIAL,PARTE_PRODUTO,TEMPO_CRONOMETRADO,TEMPO_CRONOMETRADO_2,TEMPO_CRONOMETRADO_3,
		TEMPO_CRONOMETRADO_4,TEMPO_CRONOM_FIXO,SETOR_DIV_RECURSO,TIPO_CUSTO,CUSTO_MATERIAL_TERCEIRO,QTDE_RETRABALHO,ESTAGIO_OP
		FROM #PRODUCAO_TAREFAS WHERE SEQ = @PONTEIRO
		
		SET @PONTEIRO = @PONTEIRO-1
		SET @XCONTA = 0 
	END


			------ PRODUCAO_TAREFAS_SALDO
			INSERT INTO PRODUCAO_TAREFAS_SALDO
			(TAREFA,ORDEM_PRODUCAO,PRODUTO,COR_PRODUTO,QTDE_S,
			S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27,S28,
			ULTIMO_CUSTO_PREVISTO)

			SELECT TAREFA,A.ORDEM_PRODUCAO,PRODUTO,COR_PRODUTO,QTDE_EM_PROCESSO,
			CASE WHEN QTDE_EM_PROCESSO > 0	THEN O1   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O2   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O3   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O4   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O5   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O6   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O7   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O8   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O9   ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O10  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O11  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O12  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O13  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O14  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O15  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O16  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O17  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O18  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O19  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O20  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O21  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O22  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O23  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O24  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O25  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O26  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O27  ELSE 0 END,
			CASE WHEN QTDE_EM_PROCESSO > 0 THEN O28  ELSE 0 END,
			0
			FROM (select ordem_producao, QTDE_EM_PROCESSO, min(tarefa) as tarefa from producao_tarefas where QTDE_EM_PROCESSO > 0 group by ordem_producao, QTDE_EM_PROCESSO) A 
			JOIN PRODUCAO_ORDEM_COR B ON A.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO 
			WHERE A.ORDEM_PRODUCAO = @ORDEM_PRODUCAO
	

--- GERA A RESERVA DOS MATERIAIS DA FT ---
	EXEC  LX_RECALCULO_RESERVA_MATERIAIS @PRODUTO = @PRODUTO, @XORDEM_PRODUCAO=@ORDEM_PRODUCAO

--- INSERE OP GERADA NA TABELA DE LOG ----
	INSERT INTO ANM_PEDIDO_OP_ACABAMENTO
	(PEDIDO, NF_ENTRADA, NOME_CLIFOR,PRODUTO,ORDEM_PRODUCAO, ORDEM_CORTE)
	VALUES
	(@PEDIDO, @NF_ENTRADA,  @NOME_CLIFOR,@PRODUTO,@ORDEM_PRODUCAO, @ORDEM_CORTE )

	PRINT @ORDEM_PRODUCAO

	END
END




END 

  return
error:
    raiserror (@errmsg, 16, 1)

--ERROR:


------WHILE @@TRANCOUNT > 0
------	ROLLBACK TRANSACTION

--IF @ERRMSG IS NOT NULL
--	RAISERROR 30002 @ERRMSG














