
/****** Object:  Trigger [dbo].[LXI_PRODUCAO_ORDEM_COR]    Script Date: 13/07/2016 12:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER  trigger [dbo].[LXI_PRODUCAO_ORDEM_COR] 
on [dbo].[PRODUCAO_ORDEM_COR]
  for INSERT NOT FOR REPLICATION
  as
/* INSERT trigger on PRODUCAO_ORDEM_COR */
/* default body for LXI_PRODUCAO_ORDEM_COR */

-- LUCAS MIRANDA - 05/11/2015 #ANM1 - ESTAVA CALCULANDO A GRADE ERRADA ESTAVA TODOS COMO H.01 , AJUSTADO
-- 24/02/2016 - LUCAS_MIRANDA - ANIMALE - INCLUIDO CM_OPERACAO - #1
-- 24/02/2016 - LUCAS_MIRANDA - ANIMALE - TIREI PADRAO LINX A FILIAL QUE VAI SAIR DO ESTOQUE, PEGARÁ FILIAL_PRODUCAO E CONSERTO MANUALMENTE - #2

begin
  declare  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insORDEM_PRODUCAO char(8), 
           @insPRODUTO char(12), 
           @insCOR_PRODUTO char(10),
           @errno   int,
           @errmsg  varchar(255)

  select @numrows = @@rowcount
/* PRODUCAO_ORDEM R/1140 PRODUCAO_ORDEM_COR ON CHILD INSERT RESTRICT */
  if 
     update(ORDEM_PRODUCAO)
  begin
    select @nullcnt = 0
    select @validcnt = count(*)
      from inserted,PRODUCAO_ORDEM
     where 
           inserted.ORDEM_PRODUCAO = PRODUCAO_ORDEM.ORDEM_PRODUCAO
    
    if @validcnt + @nullcnt != @numrows
    begin
      select @errno  = 30002,
             @errmsg = 'Impossível Incluir #PRODUCAO_ORDEM_COR #porque #PRODUCAO_ORDEM #não existe.'
      goto error
    end
  end

/* PRODUTO_CORES R/1139 PRODUCAO_ORDEM_COR ON CHILD INSERT RESTRICT */
  if 
     update(PRODUTO) or 
     update(COR_PRODUTO)
  begin
    select @nullcnt = 0
    select @validcnt = count(*)
      from inserted,PRODUTO_CORES
     where 
           inserted.PRODUTO = PRODUTO_CORES.PRODUTO and
           inserted.COR_PRODUTO = PRODUTO_CORES.COR_PRODUTO
    
    if @validcnt + @nullcnt != @numrows
    begin
      select @errno  = 30002,
             @errmsg = 'Impossível Incluir #PRODUCAO_ORDEM_COR #porque #PRODUTO_CORES #não existe.'
      goto error
    end
  end




/*- VERIFICA A CONSISTENCIA DA GRADE ---------------------------------------------------------------------------------*/
IF (SELECT count(*)	
	FROM INSERTED A,PRODUTOS B,PRODUTOS_TAMANHOS C 
	WHERE A.PRODUTO=B.PRODUTO AND B.GRADE = C.GRADE 
and 
		((A.O1<>0  AND (C.TAMANHO_1 ='' OR C.TAMANHO_1  IS NULL)) OR (A.O2<>0  AND (C.TAMANHO_2 ='' OR C.TAMANHO_2  IS NULL))  OR 
		(A.O3<>0  AND (C.TAMANHO_3 ='' OR C.TAMANHO_3  IS NULL)) OR (A.O4<>0  AND (C.TAMANHO_4 ='' OR C.TAMANHO_4  IS NULL))  OR 
		(A.O5<>0  AND (C.TAMANHO_5 ='' OR C.TAMANHO_5  IS NULL)) OR (A.O6<>0  AND (C.TAMANHO_6 ='' OR C.TAMANHO_6  IS NULL))  OR 
		(A.O7<>0  AND (C.TAMANHO_7 ='' OR C.TAMANHO_7  IS NULL)) OR (A.O8<>0  AND (C.TAMANHO_8 ='' OR C.TAMANHO_8  IS NULL))  OR 
		(A.O9<>0  AND (C.TAMANHO_9 ='' OR C.TAMANHO_9  IS NULL)) OR (A.O10<>0 AND (C.TAMANHO_10='' OR C.TAMANHO_10 IS NULL)) OR 
		(A.O11<>0 AND (C.TAMANHO_11='' OR C.TAMANHO_11 IS NULL)) OR (A.O12<>0 AND (C.TAMANHO_12='' OR C.TAMANHO_12 IS NULL)) OR 
		(A.O13<>0 AND (C.TAMANHO_13='' OR C.TAMANHO_13 IS NULL)) OR (A.O14<>0 AND (C.TAMANHO_14='' OR C.TAMANHO_14 IS NULL)) OR 
		(A.O15<>0 AND (C.TAMANHO_15='' OR C.TAMANHO_15 IS NULL)) OR (A.O16<>0 AND (C.TAMANHO_16='' OR C.TAMANHO_16 IS NULL)) OR 
		(A.O17<>0 AND (C.TAMANHO_17='' OR C.TAMANHO_17 IS NULL)) OR (A.O18<>0 AND (C.TAMANHO_18='' OR C.TAMANHO_18 IS NULL)) OR 
		(A.O19<>0 AND (C.TAMANHO_19='' OR C.TAMANHO_19 IS NULL)) OR (A.O20<>0 AND (C.TAMANHO_20='' OR C.TAMANHO_20 IS NULL)) OR 
		(A.O21<>0 AND (C.TAMANHO_21='' OR C.TAMANHO_21 IS NULL)) OR (A.O22<>0 AND (C.TAMANHO_22='' OR C.TAMANHO_22 IS NULL)) OR 
		(A.O23<>0 AND (C.TAMANHO_23='' OR C.TAMANHO_23 IS NULL)) OR (A.O24<>0 AND (C.TAMANHO_24='' OR C.TAMANHO_24 IS NULL)) OR 
		(A.O25<>0 AND (C.TAMANHO_25='' OR C.TAMANHO_25 IS NULL)) OR (A.O26<>0 AND (C.TAMANHO_26='' OR C.TAMANHO_26 IS NULL)) OR 
		(A.O27<>0 AND (C.TAMANHO_27='' OR C.TAMANHO_27 IS NULL)) OR (A.O28<>0 AND (C.TAMANHO_28='' OR C.TAMANHO_28 IS NULL)) OR 
		(A.O29<>0 AND (C.TAMANHO_29='' OR C.TAMANHO_29 IS NULL)) OR (A.O30<>0 AND (C.TAMANHO_30='' OR C.TAMANHO_30 IS NULL)) OR 
		(A.O31<>0 AND (C.TAMANHO_31='' OR C.TAMANHO_31 IS NULL)) OR (A.O32<>0 AND (C.TAMANHO_32='' OR C.TAMANHO_32 IS NULL)) OR 
		(A.O33<>0 AND (C.TAMANHO_33='' OR C.TAMANHO_33 IS NULL)) OR (A.O34<>0 AND (C.TAMANHO_34='' OR C.TAMANHO_34 IS NULL)) OR 
		(A.O35<>0 AND (C.TAMANHO_35='' OR C.TAMANHO_35 IS NULL)) OR (A.O36<>0 AND (C.TAMANHO_36='' OR C.TAMANHO_36 IS NULL)) OR 
		(A.O37<>0 AND (C.TAMANHO_37='' OR C.TAMANHO_37 IS NULL)) OR (A.O38<>0 AND (C.TAMANHO_38='' OR C.TAMANHO_38 IS NULL)) OR 
		(A.O39<>0 AND (C.TAMANHO_39='' OR C.TAMANHO_39 IS NULL)) OR (A.O40<>0 AND (C.TAMANHO_40='' OR C.TAMANHO_40 IS NULL)) OR 
		(A.O41<>0 AND (C.TAMANHO_41='' OR C.TAMANHO_41 IS NULL)) OR (A.O42<>0 AND (C.TAMANHO_42='' OR C.TAMANHO_42 IS NULL)) OR 
		(A.O43<>0 AND (C.TAMANHO_43='' OR C.TAMANHO_43 IS NULL)) OR (A.O44<>0 AND (C.TAMANHO_44='' OR C.TAMANHO_44 IS NULL)) OR 
		(A.O45<>0 AND (C.TAMANHO_45='' OR C.TAMANHO_45 IS NULL)) OR (A.O46<>0 AND (C.TAMANHO_46='' OR C.TAMANHO_46 IS NULL)) OR 
		(A.O47<>0 AND (C.TAMANHO_47='' OR C.TAMANHO_47 IS NULL)) OR (A.O48<>0 AND (C.TAMANHO_48='' OR C.TAMANHO_48 IS NULL)))) > 0
	begin
		DECLARE @xOP char(8),@XPROD char(12),@XCOR char(10)

		SELECT @xOP=INSERTED.ORDEM_PRODUCAO,@XPROD=INSERTED.PRODUTO, @XCOR=INSERTED.COR_PRODUTO FROM INSERTED

	      	select @errno  = 30002,
		       @errmsg = 'Inconsistência na GRADE do Produto '+RTRIM(LTRIM(@XPROD))+' na cor '+RTRIM(LTRIM(@XCOR))+' da OP '+RTRIM(LTRIM(@XOP))+'. Favor Verificar !'
	      	goto error
	End
/* FIM DA CONSISTENCIA DA GRADE */

/*--------------------------------------------------------------------------------------------------------------------*/

/*- MOVIMENTA SALDO PROGRAMACAO --------------------------------------------------------------------------------------*/
DECLARE @sProg Varchar(25) , @sPROD CHAR(12), @sCOR_PROD CHAR(10)

DECLARE CUR_SALDO_I_PRODUCAO_ORDEM_COR CURSOR FOR
	SELECT DISTINCT PROGRAMACAO ,INSERTED.PRODUTO,COR_PRODUTO
	FROM INSERTED JOIN PRODUCAO_ORDEM X ON INSERTED.ORDEM_PRODUCAO=X.ORDEM_PRODUCAO 

OPEN CUR_SALDO_I_PRODUCAO_ORDEM_COR

FETCH NEXT FROM CUR_SALDO_I_PRODUCAO_ORDEM_COR INTO @sProg , @sProd, @sCor_Prod

WHILE @@FETCH_STATUS=0
BEGIN
	
	EXEC LX_CALCULA_SALDO_PROGRAMACAO @sPROG , @sPROD, @sCOR_PROD
	FETCH NEXT FROM CUR_SALDO_I_PRODUCAO_ORDEM_COR INTO @sProg , @sProd, @sCor_Prod
END
CLOSE CUR_SALDO_I_PRODUCAO_ORDEM_COR
DEALLOCATE CUR_SALDO_I_PRODUCAO_ORDEM_COR

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*-- GERA SAIDA AUTOMATICA PARA CONSUMO DE PRODUTOS DE KIT -----------------------------------------------------------*/
--
-- 24/09/15 - SZALONTAI #1# - ADIÇÃO DE TRATAMENTO PARA OP DE RETRABALHO
--                           
-- 11/01/05 - SZALONTAI - ADICAO DA OPÇÃO DE USAR A FILIAL PARA O ESTOQUE DO KIT, USANDO O PARAMETRO FILIAL_PARA_KIT 
--
--TIPO_PROCESSO
-- 	0 - NORMAL
--	1 - TRANSFORMAÇÃO
--	2 - CONSERTO
--	3 - SEGUNDA QUALIDADE
--	4 - ENG. LIVRE
--	5 - RETRABALHO

IF EXISTS(SELECT * FROM INSERTED A JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO WHERE B.TIPO_PROCESSO in (1,2,5))
BEGIN

	-- TRATAMENTO PARA OP DE TRANSFORMAÇÃO - ORIGINAL LINX
	INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,EMISSAO,RESPONSAVEL,ROMANEIO_DESTINO,FILIAL_DESTINO,ORDEM_PRODUCAO,SEGUNDA_QUALIDADE,CM_OPERACAO) --#1
	SELECT DISTINCT 'OP'+RIGHT(RTRIM(B.ORDEM_PRODUCAO),6), 
	(CASE WHEN EXISTS(SELECT * FROM PARAMETROS WHERE PARAMETRO LIKE 'FILIAL_PARA_KIT')  THEN (SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO LIKE 'FILIAL_PARA_KIT') ELSE B.FILIAL END), 
	B.EMISSAO, 'SAIDA AUTOMÁTICA', NULL, NULL,  B.ORDEM_PRODUCAO, 0,'014' --#1
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT C ON C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
		LEFT JOIN ESTOQUE_PROD_SAI D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
	WHERE B.TIPO_PROCESSO in (1) AND D.ROMANEIO_PRODUTO IS NULL
	
	-- ALTERADO #JULIO - 27-01-2015 -- TRAZER O DESTINO DA NOTA FISCAL DE TRANSF. ORIGEM DO CONSERTO ----
	--INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,EMISSAO,RESPONSAVEL,ROMANEIO_DESTINO,FILIAL_DESTINO,ORDEM_PRODUCAO,SEGUNDA_QUALIDADE,CM_OPERACAO)
	--SELECT DISTINCT 'OP'+RIGHT(RTRIM(B.ORDEM_PRODUCAO),6), 
	--(CASE WHEN (SELECT DBO.FX_ANM_PARAMETRO_USER('FILIAL_PARA_KIT') ) IS NOT NULL  THEN ( SELECT DBO.FX_ANM_PARAMETRO_USER('FILIAL_PARA_KIT') ) ELSE B.FILIAL END), 
	--B.EMISSAO, 'SAIDA AUTOMÁTICA', NULL, NULL,  B.ORDEM_PRODUCAO, 0,'014'
	--FROM INSERTED A
	--	JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
	--	JOIN PRODUTO_MONTAGEM_KIT C ON C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
	--	LEFT JOIN ESTOQUE_PROD_SAI D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO

	--WHERE B.TIPO_PROCESSO in (1) AND D.ROMANEIO_PRODUTO IS NULL
	 -- FIM DO EXCLUSIVO JULIO ----

	DELETE E
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT C ON C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
		RIGHT JOIN (ESTOQUE_PROD_SAI D 
		JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL ) ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
	WHERE B.TIPO_PROCESSO in (1) AND D.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO AND C.PRODUTO IS NULL

	UPDATE E 
	SET 	QTDE=A.QTDE,
		SA_1=A.S1,SA_2=A.S2,SA_3=A.S3,SA_4=A.S4,SA_5=A.S5,SA_6=A.S6,SA_7=A.S7,SA_8=A.S8,SA_9=A.S9,SA_10=A.S10,SA_11=A.S11,SA_12=A.S12,
		SA_13=A.S13,SA_14=A.S14,SA_15=A.S15,SA_16=A.S16,SA_17=A.S17,SA_18=A.S18,SA_19=A.S19,SA_20=A.S20,SA_21=A.S21,SA_22=A.S22,SA_23=A.S23,SA_24=A.S24,
		SA_25=A.S25,SA_26=A.S26,SA_27=A.S27,SA_28=A.S28,SA_29=A.S29,SA_30=A.S30,SA_31=A.S31,SA_32=A.S32,SA_33=A.S33,SA_34=A.S34,SA_35=A.S35,SA_36=A.S36,
		SA_37=A.S37,SA_38=A.S38,SA_39=A.S39,SA_40=A.S40,SA_41=A.S41,SA_42=A.S42,SA_43=A.S43,SA_44=A.S44,SA_45=A.S45,SA_46=A.S46,SA_47=A.S47,SA_48=A.S48
	FROM (
		SELECT D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO AS PRODUTO,C.KIT_COR_PRODUTO AS COR_PRODUTO,A.ORDEM_PRODUCAO,B.TIPO_PROCESSO,
			QTDE = 	SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END)+SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END)+
				SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END)+SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END)+
				SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END)+SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END)+
				SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END)+SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END)+
				SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END)+SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END)+
				SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END)+SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END)+
				SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END)+SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END)+
				SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END)+SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END)+
				SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END)+SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END)+
				SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END)+SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END)+
				SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END)+SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END)+
				SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END)+SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END)+
				SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END)+SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END)+
				SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END)+SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END)+
				SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END)+SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END)+
				SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END)+SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END)+
				SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END)+SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END)+
				SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END)+SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END)+
				SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END)+SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END)+
				SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END)+SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END)+
				SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END)+SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END)+
				SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END)+SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END)+
				SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END)+SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END)+
				SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END)+SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END),
			SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END) AS S1,SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END) AS S2,
			SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END) AS S3,SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END) AS S4,
			SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END) AS S5,SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END) AS S6,
			SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END) AS S7,SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END) AS S8,
			SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END) AS S9,SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END) AS S10,
			SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END) AS S11,SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END) AS S12,
			SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END) AS S13,SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END) AS S14,
			SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END) AS S15,SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END) AS S16,
			SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END) AS S17,SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END) AS S18,
			SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END) AS S19,SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END) AS S20,
			SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END) AS S21,SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END) AS S22,
			SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END) AS S23,SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END) AS S24,
			SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END) AS S25,SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END) AS S26,
			SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END) AS S27,SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END) AS S28,
			SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END) AS S29,SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END) AS S30,
			SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END) AS S31,SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END) AS S32,
			SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END) AS S33,SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END) AS S34,
			SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END) AS S35,SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END) AS S36,
			SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END) AS S37,SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END) AS S38,
			SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END) AS S39,SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END) AS S40,
			SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END) AS S41,SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END) AS S42,
			SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END) AS S43,SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END) AS S44,
			SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END) AS S45,SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END) AS S46,

			SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END) AS S47,SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END) AS S48
		FROM (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) A
			JOIN PRODUCAO_ORDEM 		B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
			JOIN PRODUCAO_ORDEM_COR		H ON H.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
			JOIN PRODUTO_MONTAGEM_KIT 	C ON C.PRODUTO=H.PRODUTO AND C.COR_PRODUTO=H.COR_PRODUTO
			JOIN ESTOQUE_PROD_SAI 		D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
			JOIN PRODUTOS 			F ON F.PRODUTO=C.PRODUTO
			JOIN PRODUTOS			G ON G.PRODUTO=C.KIT_PRODUTO
			JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
		WHERE B.TIPO_PROCESSO = 1 
		GROUP BY D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO,A.ORDEM_PRODUCAO,B.TIPO_PROCESSO
		) A
		JOIN (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) B ON B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD_SAI 	D ON D.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD1_SAI 	E ON E.ROMANEIO_PRODUTO=A.ROMANEIO_PRODUTO AND E.FILIAL=A.FILIAL AND E.PRODUTO=A.PRODUTO AND E.COR_PRODUTO=A.COR_PRODUTO
	WHERE A.TIPO_PROCESSO = 1

		-- LUCAS MIRANDA - 05/11/2015 #ANM1 - ESTAVA CALCULANDO A GRADE ERRADA ESTAVA TODOS COMO H.01 , AJUSTADO
	INSERT INTO ESTOQUE_PROD1_SAI (FILIAL,ROMANEIO_PRODUTO,PRODUTO,COR_PRODUTO,CUSTO1,CUSTO2,CUSTO3,CUSTO4,QTDE,SA_1,SA_2,SA_3,SA_4,SA_5,SA_6,SA_7,SA_8,SA_9,SA_10,SA_11,SA_12,SA_13,SA_14,SA_15,SA_16,SA_17,SA_18,SA_19,SA_20,SA_21,SA_22,SA_23,SA_24,SA_25,SA_26,SA_27,SA_28,SA_29,SA_30,SA_31,SA_32,SA_33,SA_34,SA_35,SA_36,SA_37,SA_38,SA_39,SA_40,SA_41,SA_42,SA_43,SA_44,SA_45,SA_46,SA_47,SA_48)
	SELECT D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO,0,0,0,0,
		QTDE = 	SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END)+SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O2 END)+
			SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O3 END)+SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O4 END)+
			SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O5 END)+SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O6 END)+
			SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O7 END)+SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O8 END)+
			SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O9 END)+SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O10 END)+
			SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O11 END)+SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O12 END)+
			SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O13 END)+SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O14 END)+
			SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O15 END)+SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O16 END)+
			SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O17 END)+SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O18 END)+
			SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O19 END)+SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O20 END)+
			SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O21 END)+SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O22 END)+
			SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O23 END)+SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O24 END)+
			SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O25 END)+SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O26 END)+
			SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O27 END)+SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O28 END)+
			SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O29 END)+SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O30 END)+
			SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O31 END)+SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O32 END)+
			SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O33 END)+SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O34 END)+
			SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O35 END)+SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O36 END)+
			SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O37 END)+SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O38 END)+
			SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O39 END)+SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O40 END)+
			SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O41 END)+SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O42 END)+
			SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O43 END)+SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O44 END)+
			SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O45 END)+SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O46 END)+
			SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O47 END)+SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O48 END),
		SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END) AS S1,SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O2 END) AS S2,
		SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O3 END) AS S3,SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O4 END) AS S4,
		SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O5 END) AS S5,SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O6 END) AS S6,
		SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O7 END) AS S7,SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O8 END) AS S8,
		SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O9 END) AS S9,SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O10 END) AS S10,
		SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O11 END) AS S11,SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O12 END) AS S12,
		SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O13 END) AS S13,SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O14 END) AS S14,
		SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O15 END) AS S15,SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O16 END) AS S16,
		SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O17 END) AS S17,SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O18 END) AS S18,
		SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O19 END) AS S19,SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O20 END) AS S20,
		SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O21 END) AS S21,SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O22 END) AS S22,
		SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O23 END) AS S23,SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O24 END) AS S24,
		SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O25 END) AS S25,SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O26 END) AS S26,
		SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O27 END) AS S27,SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O28 END) AS S28,
		SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O29 END) AS S29,SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O30 END) AS S30,
		SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O31 END) AS S31,SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O32 END) AS S32,
		SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O33 END) AS S33,SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O34 END) AS S34,
		SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O35 END) AS S35,SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O36 END) AS S36,
		SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O37 END) AS S37,SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O38 END) AS S38,
		SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O39 END) AS S39,SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O40 END) AS S40,
		SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O41 END) AS S41,SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O42 END) AS S42,
		SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O43 END) AS S43,SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O44 END) AS S44,
		SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O45 END) AS S45,SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O46 END) AS S46,
		SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O47 END) AS S47,SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O48 END) AS S48
	FROM (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) A
		JOIN PRODUCAO_ORDEM 		B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUCAO_ORDEM_COR		H ON H.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT 	C ON C.PRODUTO=H.PRODUTO AND C.COR_PRODUTO=H.COR_PRODUTO
		JOIN ESTOQUE_PROD_SAI 		D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
		JOIN PRODUTOS 			F ON F.PRODUTO=C.PRODUTO
		JOIN PRODUTOS			G ON G.PRODUTO=C.KIT_PRODUTO
		LEFT JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
	WHERE B.TIPO_PROCESSO = 1 AND E.ROMANEIO_PRODUTO IS NULL
	GROUP BY D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO
	-- #FIM# ANM#1

	-- TRATAMENTO PARA OP DE CONSERTO -- ORIGINAL LINX
	INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,EMISSAO,RESPONSAVEL,ROMANEIO_DESTINO,FILIAL_DESTINO,ORDEM_PRODUCAO,SEGUNDA_QUALIDADE,CM_OPERACAO) --#1
	SELECT DISTINCT 'OP'+RIGHT(RTRIM(B.ORDEM_PRODUCAO),6), 
	--(CASE WHEN EXISTS(SELECT * FROM PARAMETROS WHERE PARAMETRO LIKE 'FILIAL_PARA_KIT')  THEN (SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO LIKE 'FILIAL_PARA_KIT') ELSE B.FILIAL END), -- #2
	--CASE WHEN B.ANM_ORIGEM_OP IN ('A','C') THEN B.FILIAL_PRODUCAO ELSE B.FILIAL_PRODUCAO END AS FILIAL, --#2
	B.FILIAL_PRODUCAO AS FILIAL,
	B.EMISSAO, 'SAIDA AUTOMÁTICA', NULL, NULL,  B.ORDEM_PRODUCAO, 0,'025'--#1
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		LEFT JOIN ESTOQUE_PROD_SAI D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
		-- #2
		LEFT JOIN PROP_PRODUCAO_PROGRAMA F
		ON (B.PROGRAMACAO = F.PROGRAMACAO AND PROPRIEDADE = '00038') OR  
		   (ISNULL(B.PROGRAMACAO,'') = '' AND B.ANM_ORIGEM_OP IN ('A','C'))

	WHERE (B.TIPO_PROCESSO IN (2) AND D.ROMANEIO_PRODUTO IS NULL )
	-- AO GERAR A OP DE ACABAMENTO O SISTEMA SÓ GERAVA A SAÍDA AO FAZER A PRIMEIRA O.S.
	-- BRAULIO SOLICITOU QUE FOSSE FAZER A SAÍDA NO MOMENTO DA GERAÇÃO DA O.P.
	-- #2-ANM.LUCAS.MIRANDA- CONSUMIR O SALDO AO FAZER A ENTRADA DE NOTA FISCAL, OP DE ACABAMENTO – 13/07/2016
	-- AND (B.STATUS = 'P' OR B.ANM_ORIGEM_OP = 'C')
	

	DELETE E
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		RIGHT JOIN 
		(
		ESTOQUE_PROD_SAI D 
		JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL )
		 ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO AND E.PRODUTO=A.PRODUTO AND E.COR_PRODUTO=A.COR_PRODUTO
	WHERE B.TIPO_PROCESSO in (2) AND D.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO AND B.PRODUTO IS NULL 

	UPDATE E
	SET 	QTDE = 	QTDE_O,
		SA_1=O1,SA_2=O2,SA_3=O3,SA_4=O4,SA_5=O5,SA_6=O6,SA_7=O7,SA_8=O8,SA_9=O9,SA_10=O10,SA_11=O11,SA_12=O12,
		SA_13=O13,SA_14=O14,SA_15=O15,SA_16=O16,SA_17=O17,SA_18=O18,SA_19=O19,SA_20=O20,SA_21=O21,SA_22=O22,SA_23=O23,SA_24=O24,
		SA_25=O25,SA_26=O26,SA_27=O27,SA_28=O28,SA_29=O29,SA_30=O30,SA_31=O31,SA_32=O32,SA_33=O33,SA_34=O34,SA_35=O35,SA_36=O36,
		SA_37=O37,SA_38=O38,SA_39=O39,SA_40=O40,SA_41=O41,SA_42=O42,SA_43=O43,SA_44=O44,SA_45=O45,SA_46=O46,SA_47=O47,SA_48=O48
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM 	B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD_SAI 	D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD1_SAI 	E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=A.PRODUTO AND E.COR_PRODUTO=A.COR_PRODUTO
	WHERE B.TIPO_PROCESSO = 2

	INSERT INTO ESTOQUE_PROD1_SAI (FILIAL,ROMANEIO_PRODUTO,PRODUTO,COR_PRODUTO,CUSTO1,CUSTO2,CUSTO3,CUSTO4,QTDE,SA_1,SA_2,SA_3,SA_4,SA_5,SA_6,SA_7,SA_8,SA_9,SA_10,SA_11,SA_12,SA_13,SA_14,SA_15,SA_16,SA_17,SA_18,SA_19,SA_20,SA_21,SA_22,SA_23,SA_24,SA_25,SA_26,SA_27,SA_28,SA_29,SA_30,SA_31,SA_32,SA_33,SA_34,SA_35,SA_36,SA_37,SA_38,SA_39,SA_40,SA_41,SA_42,SA_43,SA_44,SA_45,SA_46,SA_47,SA_48)
	SELECT D.FILIAL,D.ROMANEIO_PRODUTO,A.PRODUTO,A.COR_PRODUTO,0,0,0,0,
		QTDE = 	QTDE_O,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10,O11,O12,O13,O14,O15,O16,O17,O18,O19,O20,O21,O22,O23,O24,
		O25,O26,O27,O28,O29,O30,O31,O32,O33,O34,O35,O36,O37,O38,O39,O40,O41,O42,O43,O44,O45,O46,O47,O48
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM 		B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD_SAI 		D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
		LEFT JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=A.PRODUTO AND E.COR_PRODUTO=A.COR_PRODUTO
	WHERE (B.TIPO_PROCESSO IN (2) AND E.ROMANEIO_PRODUTO IS NULL ) 
	-- AO GERAR A OP DE ACABAMENTO O SISTEMA SÓ GERAVA A SAÍDA AO FAZER A PRIMEIRA O.S.
	-- BRAULIO SOLICITOU QUE FOSSE FAZER A SAÍDA NO MOMENTO DA GERAÇÃO DA O.P.
	-- #2-ANM.LUCAS.MIRANDA- CONSUMIR O SALDO AO FAZER A ENTRADA DE NOTA FISCAL, OP DE ACABAMENTO – 13/07/2016
	--AND (B.STATUS = 'P' OR B.ANM_ORIGEM_OP = 'C')


	--#1# - INICIO
	-- TRATAMENTO PARA OP DE RETRABALHO
	INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,EMISSAO,RESPONSAVEL,ROMANEIO_DESTINO,FILIAL_DESTINO,ORDEM_PRODUCAO,SEGUNDA_QUALIDADE,CM_OPERACAO,TIPO_ROMANEIO)
	SELECT DISTINCT 
	'OP'+RIGHT(RTRIM(B.ORDEM_PRODUCAO),6)
	, B.FILIAL
	, B.EMISSAO
	, 'SAIDA AUT. RETRABALHO'
	, NULL
	, NULL
	, B.ORDEM_PRODUCAO
	, 0
	, '124' /*SAIDA DE PRODUTO ACABADO PARA RETRABALHO*/
	,'SAIDA POR RETRABALHO'
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT C ON C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
		LEFT JOIN ESTOQUE_PROD_SAI D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
	WHERE B.TIPO_PROCESSO in (5) AND D.ROMANEIO_PRODUTO IS NULL

	DELETE E
	FROM INSERTED A
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT C ON C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
		RIGHT JOIN (ESTOQUE_PROD_SAI D 
		JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL ) ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
	WHERE B.TIPO_PROCESSO in (5) AND D.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO AND C.PRODUTO IS NULL

	UPDATE E 
	SET 	QTDE=A.QTDE,
		SA_1=A.S1,SA_2=A.S2,SA_3=A.S3,SA_4=A.S4,SA_5=A.S5,SA_6=A.S6,SA_7=A.S7,SA_8=A.S8,SA_9=A.S9,SA_10=A.S10,SA_11=A.S11,SA_12=A.S12,
		SA_13=A.S13,SA_14=A.S14,SA_15=A.S15,SA_16=A.S16,SA_17=A.S17,SA_18=A.S18,SA_19=A.S19,SA_20=A.S20,SA_21=A.S21,SA_22=A.S22,SA_23=A.S23,SA_24=A.S24,
		SA_25=A.S25,SA_26=A.S26,SA_27=A.S27,SA_28=A.S28,SA_29=A.S29,SA_30=A.S30,SA_31=A.S31,SA_32=A.S32,SA_33=A.S33,SA_34=A.S34,SA_35=A.S35,SA_36=A.S36,
		SA_37=A.S37,SA_38=A.S38,SA_39=A.S39,SA_40=A.S40,SA_41=A.S41,SA_42=A.S42,SA_43=A.S43,SA_44=A.S44,SA_45=A.S45,SA_46=A.S46,SA_47=A.S47,SA_48=A.S48
	FROM (
		SELECT D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO AS PRODUTO,C.KIT_COR_PRODUTO AS COR_PRODUTO,A.ORDEM_PRODUCAO,B.TIPO_PROCESSO,
			QTDE = 	SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END)+SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END)+
				SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END)+SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END)+
				SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END)+SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END)+
				SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END)+SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END)+
				SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END)+SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END)+
				SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END)+SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END)+
				SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END)+SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END)+
				SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END)+SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END)+
				SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END)+SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END)+
				SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END)+SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END)+
				SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END)+SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END)+
				SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END)+SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END)+
				SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END)+SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END)+
				SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END)+SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END)+
				SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END)+SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END)+
				SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END)+SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END)+
				SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END)+SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END)+
				SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END)+SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END)+
				SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END)+SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END)+
				SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END)+SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END)+
				SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END)+SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END)+
				SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END)+SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END)+
				SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END)+SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END)+
				SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END)+SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END),
			SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END) AS S1,SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END) AS S2,
			SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END) AS S3,SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END) AS S4,
			SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END) AS S5,SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END) AS S6,
			SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END) AS S7,SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END) AS S8,
			SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END) AS S9,SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END) AS S10,
			SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END) AS S11,SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END) AS S12,
			SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END) AS S13,SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END) AS S14,
			SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END) AS S15,SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END) AS S16,
			SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END) AS S17,SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END) AS S18,
			SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END) AS S19,SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END) AS S20,
			SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END) AS S21,SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END) AS S22,
			SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END) AS S23,SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END) AS S24,
			SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END) AS S25,SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END) AS S26,
			SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END) AS S27,SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END) AS S28,
			SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END) AS S29,SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END) AS S30,
			SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END) AS S31,SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END) AS S32,
			SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END) AS S33,SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END) AS S34,
			SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END) AS S35,SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END) AS S36,
			SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END) AS S37,SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END) AS S38,
			SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END) AS S39,SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END) AS S40,
			SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END) AS S41,SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END) AS S42,
			SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END) AS S43,SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END) AS S44,
			SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END) AS S45,SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END) AS S46,
			SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END) AS S47,SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END) AS S48
		FROM (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) A
			JOIN PRODUCAO_ORDEM 		B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
			JOIN PRODUCAO_ORDEM_COR		H ON H.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
			JOIN PRODUTO_MONTAGEM_KIT 	C ON C.PRODUTO=H.PRODUTO AND C.COR_PRODUTO=H.COR_PRODUTO
			JOIN ESTOQUE_PROD_SAI 		D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
			JOIN PRODUTOS 			F ON F.PRODUTO=C.PRODUTO
			JOIN PRODUTOS			G ON G.PRODUTO=C.KIT_PRODUTO
			JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
		WHERE B.TIPO_PROCESSO = 5 
		GROUP BY D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO,A.ORDEM_PRODUCAO,B.TIPO_PROCESSO
		) A
		JOIN (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) B ON B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD_SAI 	D ON D.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN ESTOQUE_PROD1_SAI 	E ON E.ROMANEIO_PRODUTO=A.ROMANEIO_PRODUTO AND E.FILIAL=A.FILIAL AND E.PRODUTO=A.PRODUTO AND E.COR_PRODUTO=A.COR_PRODUTO
	WHERE A.TIPO_PROCESSO = 5

	INSERT INTO ESTOQUE_PROD1_SAI (FILIAL,ROMANEIO_PRODUTO,PRODUTO,COR_PRODUTO,CUSTO1,CUSTO2,CUSTO3,CUSTO4,QTDE,SA_1,SA_2,SA_3,SA_4,SA_5,SA_6,SA_7,SA_8,SA_9,SA_10,SA_11,SA_12,SA_13,SA_14,SA_15,SA_16,SA_17,SA_18,SA_19,SA_20,SA_21,SA_22,SA_23,SA_24,SA_25,SA_26,SA_27,SA_28,SA_29,SA_30,SA_31,SA_32,SA_33,SA_34,SA_35,SA_36,SA_37,SA_38,SA_39,SA_40,SA_41,SA_42,SA_43,SA_44,SA_45,SA_46,SA_47,SA_48)
	SELECT D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO,0,0,0,0,
		QTDE = 	SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END)+SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END)+
			SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END)+SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END)+
			SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END)+SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END)+
			SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END)+SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END)+
			SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END)+SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END)+
			SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END)+SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END)+
			SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END)+SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END)+
			SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END)+SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END)+
			SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END)+SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END)+
			SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END)+SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END)+
			SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END)+SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END)+
			SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END)+SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END)+
			SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END)+SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END)+
			SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END)+SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END)+
			SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END)+SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END)+
			SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END)+SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END)+
			SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END)+SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END)+
			SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END)+SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END)+
			SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END)+SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END)+
			SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END)+SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END)+
			SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END)+SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END)+
			SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END)+SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END)+
			SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END)+SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END)+
			SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END)+SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END),
		SUM(C.SA_1*CASE WHEN F.GRADE=G.GRADE THEN H.O1 ELSE H.O1 END) AS S1,SUM(C.SA_2*CASE WHEN F.GRADE=G.GRADE THEN H.O2 ELSE H.O1 END) AS S2,
		SUM(C.SA_3*CASE WHEN F.GRADE=G.GRADE THEN H.O3 ELSE H.O1 END) AS S3,SUM(C.SA_4*CASE WHEN F.GRADE=G.GRADE THEN H.O4 ELSE H.O1 END) AS S4,
		SUM(C.SA_5*CASE WHEN F.GRADE=G.GRADE THEN H.O5 ELSE H.O1 END) AS S5,SUM(C.SA_6*CASE WHEN F.GRADE=G.GRADE THEN H.O6 ELSE H.O1 END) AS S6,
		SUM(C.SA_7*CASE WHEN F.GRADE=G.GRADE THEN H.O7 ELSE H.O1 END) AS S7,SUM(C.SA_8*CASE WHEN F.GRADE=G.GRADE THEN H.O8 ELSE H.O1 END) AS S8,
		SUM(C.SA_9*CASE WHEN F.GRADE=G.GRADE THEN H.O9 ELSE H.O1 END) AS S9,SUM(C.SA_10*CASE WHEN F.GRADE=G.GRADE THEN H.O10 ELSE H.O1 END) AS S10,
		SUM(C.SA_11*CASE WHEN F.GRADE=G.GRADE THEN H.O11 ELSE H.O1 END) AS S11,SUM(C.SA_12*CASE WHEN F.GRADE=G.GRADE THEN H.O12 ELSE H.O1 END) AS S12,
		SUM(C.SA_13*CASE WHEN F.GRADE=G.GRADE THEN H.O13 ELSE H.O1 END) AS S13,SUM(C.SA_14*CASE WHEN F.GRADE=G.GRADE THEN H.O14 ELSE H.O1 END) AS S14,
		SUM(C.SA_15*CASE WHEN F.GRADE=G.GRADE THEN H.O15 ELSE H.O1 END) AS S15,SUM(C.SA_16*CASE WHEN F.GRADE=G.GRADE THEN H.O16 ELSE H.O1 END) AS S16,
		SUM(C.SA_17*CASE WHEN F.GRADE=G.GRADE THEN H.O17 ELSE H.O1 END) AS S17,SUM(C.SA_18*CASE WHEN F.GRADE=G.GRADE THEN H.O18 ELSE H.O1 END) AS S18,
		SUM(C.SA_19*CASE WHEN F.GRADE=G.GRADE THEN H.O19 ELSE H.O1 END) AS S19,SUM(C.SA_20*CASE WHEN F.GRADE=G.GRADE THEN H.O20 ELSE H.O1 END) AS S20,
		SUM(C.SA_21*CASE WHEN F.GRADE=G.GRADE THEN H.O21 ELSE H.O1 END) AS S21,SUM(C.SA_22*CASE WHEN F.GRADE=G.GRADE THEN H.O22 ELSE H.O1 END) AS S22,
		SUM(C.SA_23*CASE WHEN F.GRADE=G.GRADE THEN H.O23 ELSE H.O1 END) AS S23,SUM(C.SA_24*CASE WHEN F.GRADE=G.GRADE THEN H.O24 ELSE H.O1 END) AS S24,
		SUM(C.SA_25*CASE WHEN F.GRADE=G.GRADE THEN H.O25 ELSE H.O1 END) AS S25,SUM(C.SA_26*CASE WHEN F.GRADE=G.GRADE THEN H.O26 ELSE H.O1 END) AS S26,
		SUM(C.SA_27*CASE WHEN F.GRADE=G.GRADE THEN H.O27 ELSE H.O1 END) AS S27,SUM(C.SA_28*CASE WHEN F.GRADE=G.GRADE THEN H.O28 ELSE H.O1 END) AS S28,
		SUM(C.SA_29*CASE WHEN F.GRADE=G.GRADE THEN H.O29 ELSE H.O1 END) AS S29,SUM(C.SA_30*CASE WHEN F.GRADE=G.GRADE THEN H.O30 ELSE H.O1 END) AS S30,
		SUM(C.SA_31*CASE WHEN F.GRADE=G.GRADE THEN H.O31 ELSE H.O1 END) AS S31,SUM(C.SA_32*CASE WHEN F.GRADE=G.GRADE THEN H.O32 ELSE H.O1 END) AS S32,
		SUM(C.SA_33*CASE WHEN F.GRADE=G.GRADE THEN H.O33 ELSE H.O1 END) AS S33,SUM(C.SA_34*CASE WHEN F.GRADE=G.GRADE THEN H.O34 ELSE H.O1 END) AS S34,
		SUM(C.SA_35*CASE WHEN F.GRADE=G.GRADE THEN H.O35 ELSE H.O1 END) AS S35,SUM(C.SA_36*CASE WHEN F.GRADE=G.GRADE THEN H.O36 ELSE H.O1 END) AS S36,
		SUM(C.SA_37*CASE WHEN F.GRADE=G.GRADE THEN H.O37 ELSE H.O1 END) AS S37,SUM(C.SA_38*CASE WHEN F.GRADE=G.GRADE THEN H.O38 ELSE H.O1 END) AS S38,
		SUM(C.SA_39*CASE WHEN F.GRADE=G.GRADE THEN H.O39 ELSE H.O1 END) AS S39,SUM(C.SA_40*CASE WHEN F.GRADE=G.GRADE THEN H.O40 ELSE H.O1 END) AS S40,
		SUM(C.SA_41*CASE WHEN F.GRADE=G.GRADE THEN H.O41 ELSE H.O1 END) AS S41,SUM(C.SA_42*CASE WHEN F.GRADE=G.GRADE THEN H.O42 ELSE H.O1 END) AS S42,
		SUM(C.SA_43*CASE WHEN F.GRADE=G.GRADE THEN H.O43 ELSE H.O1 END) AS S43,SUM(C.SA_44*CASE WHEN F.GRADE=G.GRADE THEN H.O44 ELSE H.O1 END) AS S44,
		SUM(C.SA_45*CASE WHEN F.GRADE=G.GRADE THEN H.O45 ELSE H.O1 END) AS S45,SUM(C.SA_46*CASE WHEN F.GRADE=G.GRADE THEN H.O46 ELSE H.O1 END) AS S46,
		SUM(C.SA_47*CASE WHEN F.GRADE=G.GRADE THEN H.O47 ELSE H.O1 END) AS S47,SUM(C.SA_48*CASE WHEN F.GRADE=G.GRADE THEN H.O48 ELSE H.O1 END) AS S48
	FROM (SELECT DISTINCT ORDEM_PRODUCAO FROM INSERTED) A
		JOIN PRODUCAO_ORDEM 		B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUCAO_ORDEM_COR		H ON H.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
		JOIN PRODUTO_MONTAGEM_KIT 	C ON C.PRODUTO=H.PRODUTO AND C.COR_PRODUTO=H.COR_PRODUTO
		JOIN ESTOQUE_PROD_SAI 		D ON D.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
		JOIN PRODUTOS 			F ON F.PRODUTO=C.PRODUTO
		JOIN PRODUTOS			G ON G.PRODUTO=C.KIT_PRODUTO
		LEFT JOIN ESTOQUE_PROD1_SAI E ON E.ROMANEIO_PRODUTO=D.ROMANEIO_PRODUTO AND E.FILIAL=D.FILIAL AND E.PRODUTO=C.KIT_PRODUTO AND E.COR_PRODUTO=C.KIT_COR_PRODUTO
	WHERE B.TIPO_PROCESSO = 5 AND E.ROMANEIO_PRODUTO IS NULL
	GROUP BY D.FILIAL,D.ROMANEIO_PRODUTO,C.KIT_PRODUTO,C.KIT_COR_PRODUTO
--#1# - FIM

---- Julio -- 11-06-2015 - calcular custo operacional após efetuar a entrada --
--	Declare @CalcPROD char(12) = (Select distinct Produto from inserted)
--	EXEC dbo.LX_CALCULA_CUSTO_EFETIVO_PRODUTO @CalcPROD

END
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  return
error:
    raiserror (@errmsg, 16, 1)
    rollback transaction
end




