
/****** Object:  UserDefinedFunction [dbo].[FX_WANM_EXPLOSAO_MATERIAL]    Script Date: 23/06/2016 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER FUNCTION [dbo].[FX_WANM_EXPLOSAO_MATERIAL]() 

-- 20/02/2015 - ANM.LEONARDO.ROVEDO - ALTERADO DE:NUMERIC(9,3) PARA:NUMERIC(10,3)

Returns @Tb_Retorno   table (TIPO_PEDIDO CHAR(2)
							,PROGRAMACAO VARCHAR(25)
							,MES_PROG_PROD VARCHAR(20)
							,ORDEM_PRODUCAO CHAR(8)
							,QTDE_TOTAL INT
							,PRODUTO CHAR(12)
							,DESC_PRODUTO VARCHAR(40)
							--,COR_PRODUTO CHAR(10)
							,FABRICANTE VARCHAR(25)
							,MATERIAL CHAR(11)
							,DESC_MATERIAL VARCHAR(40)
							,COR_MATERIAL CHAR(10)
							,DESC_COR_MATERIAL VARCHAR(50)
							,QTDE_ESTOQUE NUMERIC(10,3)				-- NUMERIC(9,3)
							,RESERVA NUMERIC(10,3)					--NUMERIC(9,3)
							,RESERVAS_ENVIADAS_ALMOX NUMERIC(9,3)
							,QTDE_ESTOQUE_DISP NUMERIC(10,3)		--NUMERIC(9,3)
							,COMPRA_PROX_ENTREGA_OP NUMERIC(10,3)	--NUMERIC(9,3)
							,EM_REVISAO_OP VARCHAR(10)
							,DATA_PROXIMA_ENTREGA_OP VARCHAR(20)
							,TOT_PROXIMAS_ENTREGAS NUMERIC(10,3)	--NUMERIC(9,3)
							,STATUS_MATERIAL_REF INT
							,STATUS_MATERIAL_TOTAL INT
							,ANM_OP_LIBERADA VARCHAR(40)
							,GRIFFE VARCHAR(25)
							,LINHA VARCHAR(25)
							,TIPO_PRODUTO VARCHAR(25) 
							,MES_LOJA CHAR(6) 
							)  

As   
Begin  

Insert Into @Tb_Retorno

 
 
SELECT DISTINCT A.TIPO_PEDIDO,B.PROGRAMACAO ,
	CONVERT(VARCHAR(20),
		CASE WHEN DateName(Month,B.ENTREGA_INICIAL) = DateName(Month,B.ENTREGA_FINAL) THEN DateName(Month,B.ENTREGA_INICIAL)
		ELSE DateName(Month,B.ENTREGA_INICIAL)+' - '+DateName(Month,B.ENTREGA_FINAL) END 
	) AS MES_PROG_PROD,
	A.ORDEM_PRODUCAO,A.QTDE_TOTAL,A.PRODUTO,P.DESC_PRODUTO,--B.COR_PRODUTO,
	-- #7 – CORREÇÃO DA FUNÇÃO FX_WANM_EXPLOSAO_MATERIAL – LUCAS MIRANDA – 23/06/2016
	ISNULL(FAB.NOME_CLIFOR,P.FABRICANTE) AS FABRICANTE,
	-- FIM #7 – CORREÇÃO DA FUNÇÃO FX_WANM_EXPLOSAO_MATERIAL – LUCAS MIRANDA – 23/06/2016
	C.MATERIAL,M.DESC_MATERIAL,C.COR_MATERIAL,M.DESC_COR_MATERIAL,
	ISNULL(D.QTDE_ESTOQUE,0) AS QTDE_ESTOQUE,C.RESERVA ,
	ISNULL(D.QTDE_EM_RESERVA,0)+ ISNULL(D.QTDE_PEDIDO_PILOTAGEM,0)+ ISNULL(D.QTDE_EM_RESERVA_COMPRAS,0) AS RESERVAS_ENVIADAS_ALMOX,
	ISNULL(D.QTDE_ESTOQUE_DISP,0)  AS QTDE_ESTOQUE_DISP, 
	ISNULL(COMPRA_PROX_ENTREGA_OP,0) COMPRA_PROX_ENTREGA_OP,
	EM_REVISAO_OP,
	ISNULL(DATA_PROXIMA_ENTREGA_OP,0) DATA_PROXIMA_ENTREGA_OP,
	ISNULL(TOT_QTDE_ENTREGAR,0) AS TOT_PROXIMAS_ENTREGAS,
	
	CASE WHEN ISNULL(D.QTDE_ESTOQUE_DISP,0) 
	     + CASE WHEN OS.ENVIADO_ALMOX > 0 THEN C.RESERVA ELSE 0 END
		 - C.RESERVA  >=0 THEN 0 ELSE 1 END AS STATUS_MATERIAL_REF,
		 
	CASE WHEN ISNULL(D.QTDE_ESTOQUE,0) - (ISNULL(D.QTDE_EM_RESERVA,0) + ISNULL(D.QTDE_PEDIDO_PILOTAGEM,0) + ISNULL(D.QTDE_EM_RESERVA_COMPRAS,0)) >=0 THEN 0 ELSE 1 END AS STATUS_MATERIAL_TOTAL,
	CASE WHEN B.ANM_OP_LIBERADA = 0 THEN 'LIBERADO PRODUÇÃO' ELSE 'AGUARDANDO LIBERAÇÃO' END AS ANM_OP_LIBERADA,
	P.GRIFFE,P.LINHA,P.TIPO_PRODUTO,
	CAST(YEAR(B.ENTREGA_FINAL ) AS CHAR(4))+RIGHT ('0'+RTRIM(LTRIM(CAST(MONTH(B.ENTREGA_FINAL ) AS CHAR(2))) ),2) AS MES_LOJA
	
	FROM ( SELECT 'OP' AS TIPO_PEDIDO,ORDEM_PRODUCAO,QTDE_TOTAL,PRODUTO,PROGRAMACAO FROM PRODUCAO_ORDEM (NOLOCK) WHERE STATUS <> 'E'
		   UNION ALL
		   SELECT DISTINCT 'PC' AS TIPO_PEDIDO,A.PEDIDO,SUM(B.QTDE_ORIGINAL) AS QTDE_TOTAL,PRODUTO,PROGRAMACAO 
				FROM COMPRAS (NOLOCK) A JOIN COMPRAS_PRODUTO (NOLOCK) B ON A.PEDIDO = B.PEDIDO
		   WHERE A.STATUS_COMPRA NOT IN ('R','C') AND B.QTDE_ENTREGAR > 0 
		   --AND A.PEDIDO IN ('0069120')
		   GROUP BY A.PEDIDO,PRODUTO,PROGRAMACAO  ) A

	LEFT JOIN ( SELECT ORDEM_PRODUCAO,COUNT(*) AS ENVIADO_ALMOX,'ORDEM PRODUCAO' AS TIPO 
				FROM PRODUCAO_ORDEM_SERVICO (NOLOCK) A
					JOIN PRODUCAO_OS_TAREFAS (NOLOCK) B
					ON A.ORDEM_SERVICO = B.ORDEM_SERVICO
					AND LEFT(A.ANM_STATUS_ALMOX,1)='1'
				GROUP BY ORDEM_PRODUCAO	
				UNION ALL
				SELECT PEDIDO,COUNT(*) AS ENVIADO_ALMOX ,'COMPRA' AS TIPO  
				FROM COMPRAS 
				WHERE TABELA_FILHA = 'COMPRAS_PRODUTO' 	
				  AND LEFT(ANM_STATUS_ALMOX,1)='1' 
				  AND STATUS_COMPRA NOT IN ('R','C') 
				GROUP BY PEDIDO  
			   ) OS
	ON A.ORDEM_PRODUCAO = OS.ORDEM_PRODUCAO	
	   	
	
	--JOIN  PRODUCAO_PROG_PROD (NOLOCK) B
	JOIN (SELECT
			B.PROGRAMACAO,B.PRODUTO,COR_PRODUTO,A.ENTREGA_INICIAL,A.ENTREGA_FINAL,QTDE_PROGRAMADA,ORDEM_PRODUCAO,QTDE_GERADA,QTDE_MINIMA_PRODUZIR,AUMENTO_VENDAS,
			COR_SORTIDA,SOBRA_DE_PRODUTO,QTDE_SALDO_EMITIR_OP,SORTIMENTO_COR,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,
			P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,P38,P39,P40,P41,P42,P43,P44,P45,P46,P47,P48,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,
			S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48,
			MATAR_SALDO_PROGRAMACAO,QTDE_EM_OP,ENTREGA_VENDA_FINAL,ENTREGA_VENDA_INICIAL,QTDE_PROG_ORIGINAL,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12,PO13,
			PO14,PO15,PO16,ANM_MATAR_SALDO,ANM_ULTIMA_ALTERACAO,ANM_OP_LIBERADA

			FROM 
			(SELECT PROGRAMACAO,PRODUTO,MIN(ENTREGA_INICIAL) ENTREGA_INICIAL,MIN(ENTREGA_INICIAL) ENTREGA_FINAL 
			 FROM PRODUCAO_PROG_PROD GROUP BY PROGRAMACAO,PRODUTO ) A
				JOIN PRODUCAO_PROG_PROD B
				ON A.PROGRAMACAO = B.PROGRAMACAO AND
				   A.PRODUTO     = B.PRODUTO
		) B		   
	ON A.PROGRAMACAO = B.PROGRAMACAO
	AND A.PRODUTO = B.PRODUTO
	
	JOIN PRODUCAO_RESERVA (NOLOCK) C
	ON A.ORDEM_PRODUCAO = C.ORDEM_PRODUCAO
	
	LEFT JOIN (SELECT * FROM WANM_ESTOQUE_MAT_DISPONIVEL_AAF (NOLOCK)) D
	ON C.MATERIAL = D.MATERIAL AND C.COR_MATERIAL = D.COR_MATERIAL
	
	LEFT JOIN ( SELECT A.MATERIAL,A.COR_MATERIAL,SUM(A.QTDE_ENTREGAR) AS COMPRA_PROX_ENTREGA_OP,
					   CASE WHEN ISNULL(REV.ANM_STATUS_SAIDA_ITEM,1) = 0 THEN 'REVISAO' ELSE '' END AS EM_REVISAO_OP,
					   ISNULL(CONVERT(VARCHAR(10),ISNULL(MAX(DATA_CONFIRMACAO),MAX(LIMITE_ENTREGA)),103),'') AS DATA_PROXIMA_ENTREGA_OP,
					   B.PROG_PEDIDO,C.PROD_PEDIDO 

				FROM COMPRAS_MATERIAL (NOLOCK) A 

				LEFT JOIN (SELECT PEDIDO,MATERIAL,COR_MATERIAL,QTDE,
											  CASE WHEN FILIAL = (SELECT dbo.FX_ANM_PARAMETRO_USER('ANM_FILIAL_REVISAO_MP'))
												   THEN ISNULL(ANM_STATUS_SAIDA_ITEM,0)
											  ELSE 1 END AS ANM_STATUS_SAIDA_ITEM     
									   FROM ESTOQUE_RET1_MAT 
											WHERE PEDIDO IS NOT NULL AND
												  ( CASE WHEN FILIAL = (SELECT dbo.FX_ANM_PARAMETRO_USER('ANM_FILIAL_REVISAO_MP'))
													   THEN ISNULL(ANM_STATUS_SAIDA_ITEM,0)
													ELSE 1 END ) = 0 ) REV
							ON A.PEDIDO = REV.PEDIDO AND
							   A.MATERIAL = REV.MATERIAL AND
							   A.COR_MATERIAL = REV.COR_MATERIAL
										
					JOIN ( SELECT PEDIDO, VALOR_PROPRIEDADE AS PROG_PEDIDO FROM PROP_COMPRAS (NOLOCK) WHERE PROPRIEDADE = '01020') B
						   ON A.PEDIDO = B.PEDIDO
										  
						JOIN ( SELECT PEDIDO, VALOR_PROPRIEDADE AS PROD_PEDIDO FROM PROP_COMPRAS (NOLOCK) WHERE PROPRIEDADE = '01021') C
							   ON A.PEDIDO = C.PEDIDO  

				WHERE A.QTDE_ENTREGAR+ISNULL(REV.QTDE,0) > 0
				GROUP BY A.MATERIAL,A.COR_MATERIAL,B.PROG_PEDIDO,C.PROD_PEDIDO,REV.ANM_STATUS_SAIDA_ITEM ) F   
     ON C.MATERIAL = F.MATERIAL AND C.COR_MATERIAL = F.COR_MATERIAL
	AND A.PRODUTO = F.PROD_PEDIDO AND A.PROGRAMACAO = F.PROG_PEDIDO				
								
	--LEFT JOIN ( SELECT A.MATERIAL,A.COR_MATERIAL,SUM(A.QTDE_ENTREGAR) AS COMPRA_PROX_ENTREGA_OP,
	--					ISNULL(CONVERT(VARCHAR(10),ISNULL(MAX(DATA_CONFIRMACAO),MAX(LIMITE_ENTREGA)),103),'') AS DATA_PROXIMA_ENTREGA_OP,
	--					B.PROG_PEDIDO,C.PROD_PEDIDO FROM COMPRAS_MATERIAL (NOLOCK) A JOIN 
	--			 ( SELECT PEDIDO, VALOR_PROPRIEDADE AS PROG_PEDIDO FROM PROP_COMPRAS (NOLOCK) WHERE PROPRIEDADE = '01020') B
	--			   ON A.PEDIDO = B.PEDIDO
	--				 JOIN (SELECT PEDIDO, VALOR_PROPRIEDADE AS PROD_PEDIDO FROM PROP_COMPRAS (NOLOCK) WHERE PROPRIEDADE = '01021') C
	--			     ON A.PEDIDO = C.PEDIDO  

	--			AND QTDE_ENTREGAR > 0  
	--			GROUP BY A.MATERIAL,A.COR_MATERIAL,B.PROG_PEDIDO,C.PROD_PEDIDO	) F
	--ON C.MATERIAL = F.MATERIAL AND C.COR_MATERIAL = F.COR_MATERIAL
	--AND A.PRODUTO = F.PROD_PEDIDO AND A.PROGRAMACAO = F.PROG_PEDIDO
	
	LEFT JOIN ( SELECT MATERIAL,COR_MATERIAL,SUM(QTDE_ENTREGAR) AS TOT_QTDE_ENTREGAR
	            FROM COMPRAS_MATERIAL (NOLOCK) WHERE QTDE_ENTREGAR > 0

	            GROUP BY MATERIAL,COR_MATERIAL ) H
	ON C.MATERIAL = H.MATERIAL AND C.COR_MATERIAL = H.COR_MATERIAL 

	JOIN W_MATERIAIS_CORES (NOLOCK) M
	ON C.MATERIAL = M.MATERIAL AND C.COR_MATERIAL = M.COR_MATERIAL    
	
	JOIN PRODUTOS P
	ON A.PRODUTO = P.PRODUTO
	
	-- #7 – CORREÇÃO DA FUNÇÃO FX_WANM_EXPLOSAO_MATERIAL – LUCAS MIRANDA – 23/06/2016
	LEFT JOIN 
	(SELECT DISTINCT A.ORDEM_PRODUCAO, B.NOME_CLIFOR 
		FROM PRODUCAO_TAREFAS (NOLOCK) A 
		JOIN PRODUCAO_RECURSOS (NOLOCK) B ON A.RECURSO_PRODUTIVO = B.RECURSO_PRODUTIVO 
		WHERE FASE_PRODUCAO IN ('006', '00', '171')
	) FAB
	ON A.ORDEM_PRODUCAO = FAB.ORDEM_PRODUCAO
	--FIM #7 – CORREÇÃO DA FUNÇÃO FX_WANM_EXPLOSAO_MATERIAL – LUCAS MIRANDA – 23/06/2016
	--WHERE A.ORDEM_PRODUCAO IN ('0069120')

	ORDER BY B.PROGRAMACAO


  return    
  
end  














