
/****** Object:  Trigger [dbo].[LXU_ANM_LOJA_NOTA_FISCAL]    Script Date: 28/10/2016 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER TRIGGER [dbo].[LXU_ANM_LOJA_NOTA_FISCAL] 
ON [dbo].[LOJA_NOTA_FISCAL] 
for UPDATE NOT FOR REPLICATION

AS 


Begin
	Declare	@numrows	Int,
		@nullcnt	Int,
		@validcnt	Int,
		@insCODIGO_FILIAL char(6), 
		@insNF_NUMERO char(7), 
		@insSERIE_NF char(2), 
		@errno   Int,
		@errmsg  varchar(255)

	Select @numrows = @@rowcount
	
	IF (SELECT COUNT(*) FROM inserted A JOIN deleted B ON A.NF_NUMERO = B.NF_NUMERO AND A.SERIE_NF = B.SERIE_NF AND A.CODIGO_FILIAL = B.CODIGO_FILIAL WHERE A.STATUS_NFE <> B.STATUS_NFE AND A.STATUS_NFE = '5') > 0
	--UPDATE(EMPRESA)
		BEGIN
		
			-- ENVIA XML PARA GOFRETE ---
			DECLARE @Nf_Entrada char(15),@Serie_nf varchar(6), @Filial  varchar(25)
			Select @Nf_Entrada=NF_NUMERO,@Serie_nf=SERIE_NF,@Filial=B.FILIAL From Inserted A
				JOIN LOJAS_VAREJO B ON A.CODIGO_FILIAL = B.CODIGO_FILIAL
			
			INSERT INTO LX_ANM_PROCESSA_XML_GOFRETE_LOG
			(PROCESSO,COMANDO,ORIGEM,STATUS,DATA_LOG,LOG_PROCESSO,DATA_PROCESSADO)
			VALUES
			('LX_ANM_ENVIA_XML_EMAIL','LX_ANM_ENVIA_XML_EMAIL 
				@Nf_numero='+''''+@Nf_Entrada+''''+','+
			   '@Serie_nf='+''''+@Serie_nf+''''+','+
			   '@Filial='+''''+@Filial+'''','LXU_ANM_LOJA_NOTA_FISCAL',0,GETDATE(),NULL,NULL) 

		END
	--- LOG STATUS_NFE = LOJA_NOTA_FISCAL - CHAMADO #359180
	--- LUCAS MIRANDA - 28/10/2016 #1
IF (SELECT COUNT(*) FROM INSERTED A JOIN DELETED B 
	ON A.CODIGO_FILIAL = B.CODIGO_FILIAL AND A.NF_NUMERO = B.NF_NUMERO AND A.SERIE_NF = B.SERIE_NF
	WHERE A.STATUS_NFE <> B.STATUS_NFE ) > 0    
BEGIN   
       
	INSERT INTO DBO.ANM_LOG_LJ_NF_FISCAL_STATUS_NF

	SELECT 'A', A.CODIGO_FILIAL, A.NF_NUMERO, A.SERIE_NF
	,B.STATUS_NFE AS STATUS_NFE_ANTERIOR
	,A.STATUS_NFE AS STATUS_NFE_NOVO,  
	GETDATE(), SUSER_SNAME()
	FROM INSERTED A JOIN DELETED B 
	ON  A.CODIGO_FILIAL = B.CODIGO_FILIAL 
	AND A.NF_NUMERO = B.NF_NUMERO 
	AND A.SERIE_NF = B.SERIE_NF

END  
		
	return
Error:
	raiserror @errno @errmsg
	rollback transaction
End